Repository docker/buildx, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/bake, area/bake/compose, area/build, area/builder, area/cli, area/controller, area/docs, area/dependencies, area/driver, area/driver/docker, area/driver/docker-container, area/driver/kubernetes, area/driver/remote, area/hack, area/tests

vendor: github.com/hashicorp/hcl/v2 v2.23.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/hcl/v2/CHANGELOG.md
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser_traversal.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/public.go
  vendor/github.com/hashicorp/hcl/v2/ops.go
  vendor/github.com/hashicorp/hcl/v2/spec.md
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/hashicorp/go-cty-funcs c51673e0b3dd
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/zclconf/go-cty v1.16.0
  go.mod
  go.sum
  vendor/github.com/zclconf/go-cty/cty/convert/conversion.go
  vendor/github.com/zclconf/go-cty/cty/convert/conversion_collection.go
  vendor/github.com/zclconf/go-cty/cty/function/function.go
  vendor/github.com/zclconf/go-cty/cty/function/stdlib/collection.go
  vendor/github.com/zclconf/go-cty/cty/walk.go
  vendor/modules.txt
Labels: area/dependencies

bake: support setting the context to null in bake
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/compose_test.go
  bake/hcl_test.go
  tests/bake.go
Labels: area/bake, area/bake/compose, area/tests

bake: test secrets override
  bake/bake_test.go
Labels: area/bake, area/tests

bake: infer git auth token from remote files to build request
  bake/bake.go
Labels: area/bake

github: update action-gh-release to v2.2.1
  .github/workflows/build.yml
Labels: area/ci

Allow default for --output flag.
  commands/build.go
Labels: area/cli

vendor: update buildkit to v0.19.0-rc2
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/util/testutil/workers/util.go
  vendor/modules.txt
Labels: area/dependencies

dockerfile: update docker to 27.5.0
  Dockerfile
Labels: none

dockerfile: update buildkit to 0.19.0-rc2
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

downgrade go-difflib and go-spew to tagged releases
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

Add buildx history command
  commands/history/inspect.go
  commands/history/logs.go
  commands/history/ls.go
  commands/history/open.go
  commands/history/rm.go
  commands/history/root.go
  commands/history/utils.go
  commands/root.go
  docs/reference/buildx.md
  docs/reference/buildx_history.md
  docs/reference/buildx_history_inspect.md
  docs/reference/buildx_history_logs.md
  docs/reference/buildx_history_ls.md
  docs/reference/buildx_history_open.md
  docs/reference/buildx_history_rm.md
  go.mod
  go.sum
  util/desktop/desktop.go
  vendor/github.com/pkg/browser/LICENSE
  vendor/github.com/pkg/browser/README.md
  vendor/github.com/pkg/browser/browser.go
  vendor/github.com/pkg/browser/browser_darwin.go
  vendor/github.com/pkg/browser/browser_freebsd.go
  vendor/github.com/pkg/browser/browser_linux.go
  vendor/github.com/pkg/browser/browser_netbsd.go
  vendor/github.com/pkg/browser/browser_openbsd.go
  vendor/github.com/pkg/browser/browser_unsupported.go
  vendor/github.com/pkg/browser/browser_windows.go
  vendor/modules.txt
Labels: area/cli, area/docs, area/dependencies

add buildx history inspect formatting
  commands/history/inspect.go
Labels: area/cli

add history inspect attachment command
  commands/history/inspect.go
  commands/history/inspect_attachment.go
  docs/reference/buildx_history_inspect_attachment.md
Labels: area/cli, area/docs

update history inspect formatting
  commands/history/inspect.go
Labels: area/cli

history: update containerd imports to v2
  commands/history/inspect.go
  commands/history/inspect_attachment.go
Labels: area/cli

chore: comments to not forget to update docs
  bake/bake.go
Labels: area/bake

history: add error details to history inspect command
  commands/history/inspect.go
  go.mod
Labels: area/cli, area/dependencies

history: make sure started time is shown in current timezone
  commands/history/inspect.go
Labels: area/cli

history: fix printing desktop URL
  commands/history/inspect.go
Labels: area/cli

.github/labeler.yml:

# Add 'area/project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - .github/**
              - LICENSE
              - AUTHORS
              - MAINTAINERS
              - PROJECT.md
              - README.md
              - .gitignore
              - codecov.yml
          - all-globs-to-all-files: '!.github/workflows/*'

# Add 'area/github-actions' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Add 'area/bake' label to changes in the bake
area/bake:
  - changed-files:
      - any-glob-to-any-file: 'bake/**'

# Add 'area/bake/compose' label to changes in the bake+compose
area/bake/compose:
  - changed-files:
      - any-glob-to-any-file:
          - bake/compose.go
          - bake/compose_test.go

# Add 'area/build' label to changes in build files
area/build:
  - changed-files:
      - any-glob-to-any-file: 'build/**'

# Add 'area/builder' label to changes in builder files
area/builder:
  - changed-files:
      - any-glob-to-any-file: 'builder/**'

# Add 'area/cli' label to changes in the CLI
area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - cmd/**
          - commands/**

# Add 'area/controller' label to changes in the controller
area/controller:
  - changed-files:
      - any-glob-to-any-file: 'controller/**'

# Add 'area/docs' label to markdown files in the docs folder
area/docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*.md'

# Add 'area/dependencies' label to changes in go dependency files
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - vendor/**

# Add 'area/driver' label to changes in the driver folder
area/driver:
  - changed-files:
      - any-glob-to-any-file: 'driver/**'

# Add 'area/driver/docker' label to changes in the docker driver
area/driver/docker:
  - changed-files:
      - any-glob-to-any-file: 'driver/docker/**'

# Add 'area/driver/docker-container' label to changes in the docker-container driver
area/driver/docker-container:
  - changed-files:
      - any-glob-to-any-file: 'driver/docker-container/**'

# Add 'area/driver/kubernetes' label to changes in the kubernetes driver
area/driver/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'driver/kubernetes/**'

# Add 'area/driver/remote' label to changes in the remote driver
area/driver/remote:
  - changed-files:
      - any-glob-to-any-file: 'driver/remote/**'

# Add 'area/hack' label to changes in the hack folder
area/hack:
  - changed-files:
      - any-glob-to-any-file: 'hack/**'

# Add 'area/tests' label to changes in test files
area/tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - '**/*_test.go'
