Repository docker/buildx, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/bake, area/bake/compose, area/build, area/builder, area/cli, area/controller, area/docs, area/dependencies, area/driver, area/driver/docker, area/driver/docker-container, area/driver/kubernetes, area/driver/remote, area/hack, area/tests

.github/labeler.yml:

# Add 'area/project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - .github/**
              - LICENSE
              - AUTHORS
              - MAINTAINERS
              - PROJECT.md
              - README.md
              - .gitignore
              - codecov.yml
          - all-globs-to-all-files: '!.github/workflows/*'

# Add 'area/github-actions' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Add 'area/bake' label to changes in the bake
area/bake:
  - changed-files:
      - any-glob-to-any-file: 'bake/**'

# Add 'area/bake/compose' label to changes in the bake+compose
area/bake/compose:
  - changed-files:
      - any-glob-to-any-file:
          - bake/compose.go
          - bake/compose_test.go

# Add 'area/build' label to changes in build files
area/build:
  - changed-files:
      - any-glob-to-any-file: 'build/**'

# Add 'area/builder' label to changes in builder files
area/builder:
  - changed-files:
      - any-glob-to-any-file: 'builder/**'

# Add 'area/cli' label to changes in the CLI
area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - cmd/**
          - commands/**

# Add 'area/controller' label to changes in the controller
area/controller:
  - changed-files:
      - any-glob-to-any-file: 'controller/**'

# Add 'area/docs' label to markdown files in the docs folder
area/docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*.md'

# Add 'area/dependencies' label to changes in go dependency files
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - vendor/**

# Add 'area/driver' label to changes in the driver folder
area/driver:
  - changed-files:
      - any-glob-to-any-file: 'driver/**'

# Add 'area/driver/docker' label to changes in the docker driver
area/driver/docker:
  - changed-files:
      - any-glob-to-any-file: 'driver/docker/**'

# Add 'area/driver/docker-container' label to changes in the docker-container driver
area/driver/docker-container:
  - changed-files:
      - any-glob-to-any-file: 'driver/docker-container/**'

# Add 'area/driver/kubernetes' label to changes in the kubernetes driver
area/driver/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'driver/kubernetes/**'

# Add 'area/driver/remote' label to changes in the remote driver
area/driver/remote:
  - changed-files:
      - any-glob-to-any-file: 'driver/remote/**'

# Add 'area/hack' label to changes in the hack folder
area/hack:
  - changed-files:
      - any-glob-to-any-file: 'hack/**'

# Add 'area/tests' label to changes in test files
area/tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - '**/*_test.go'

vendor: update buildkit to v0.18.0-rc2
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/util/testutil/workers/dockerd.go
  vendor/github.com/moby/buildkit/util/testutil/workers/features.go
  vendor/modules.txt
Labels: area/dependencies

vendor: update buildkit to v0.18.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

revert: "bake: initial set of composable bake attributes"
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/compose_test.go
  bake/hcl_test.go
  bake/hclparser/LICENSE
  bake/hclparser/gohcl/decode.go
  bake/hclparser/gohcl/decode_test.go
  bake/hclparser/gohcl/doc.go
  bake/hclparser/gohcl/encode.go
  bake/hclparser/gohcl/encode_test.go
  bake/hclparser/gohcl/schema.go
  bake/hclparser/gohcl/schema_test.go
  bake/hclparser/gohcl/types.go
  bake/hclparser/hclparser.go
  bake/hclparser/type_implied.go
  bake/hclparser/type_implied_ext.go
  controller/pb/export.go
  go.mod
  util/buildflags/cache.go
  util/buildflags/cty.go
  util/buildflags/export.go
  util/buildflags/secrets.go
  util/buildflags/ssh.go
Labels: area/bake, area/bake/compose, area/controller, area/dependencies, area/tests

bake: additional test for empty variable
  bake/bake_test.go
Labels: area/bake, area/tests

bake: test empty attribute
  bake/bake_test.go
Labels: area/bake, area/tests

docs(bake): improve docs on "call" and "description" in bake file
  docs/bake-reference.md
Labels: area/docs

bake: handle derived attributes
  tests/bake.go
  util/buildflags/cache.go
Labels: area/tests

ci: use edge releases of buildx
  .github/workflows/build.yml
  .github/workflows/docs-release.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
Labels: area/ci

bump compose-go to v2.4.5
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/template/variables.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/modules.txt
Labels: area/dependencies

bake: skip empty attributes
  bake/bake.go
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/context.go
  util/buildflags/cty.go
  util/buildflags/entitlements.go
  util/buildflags/export.go
  util/buildflags/secrets.go
  util/buildflags/ssh.go
Labels: area/bake

bake: test empty attribute
  bake/bake_test.go
Labels: area/bake, area/tests

bake: move merge logic to an hcl package and add tests
  bake/bake.go
  bake/hclparser/hcl/LICENSE
  bake/hclparser/hcl/gohcl/decode.go
  bake/hclparser/hcl/gohcl/decode_test.go
  bake/hclparser/hcl/gohcl/doc.go
  bake/hclparser/hcl/gohcl/encode.go
  bake/hclparser/hcl/gohcl/encode_test.go
  bake/hclparser/hcl/gohcl/schema.go
  bake/hclparser/hcl/gohcl/schema_test.go
  bake/hclparser/hcl/gohcl/types.go
  bake/hclparser/hcl/merged.go
  bake/hclparser/hcl/merged_test.go
  bake/hclparser/hclparser.go
Labels: area/bake, area/tests

bake: fix entitlements path checks for local outputs
  bake/bake.go
  bake/entitlements.go
  bake/entitlements_test.go
  build/build.go
  controller/build/build.go
  controller/pb/export.go
Labels: area/bake, area/build, area/controller, area/tests

bake: allow entitlements from overrides automatically
  bake/bake.go
  bake/bake_test.go
  commands/bake.go
Labels: area/bake, area/cli, area/tests

docs: add docs for bake --allow
  docs/reference/buildx_bake.md
Labels: area/docs

update buildkit used for tests
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

Dockerfile: update to docker v27.4.0-rc.4
  Dockerfile
Labels: none

Dockerfile: update to registry v3.0.0-rc.1
  Dockerfile
Labels: none

bake: cache-from/cache-to options no longer print sensitive values
  bake/bake.go
  bake/compose.go
  bake/hcl_test.go
  bake/hclparser/type_implied_ext.go
  tests/bake.go
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
  util/buildflags/cty.go
  util/buildflags/utils.go
Labels: area/bake, area/bake/compose, area/tests

bake: migrate other buildflags to allow different types
  bake/bake.go
  bake/compose.go
  bake/hcl_test.go
  util/buildflags/cty.go
  util/buildflags/export.go
  util/buildflags/export_cty.go
  util/buildflags/secrets.go
  util/buildflags/secrets_cty.go
  util/buildflags/ssh.go
  util/buildflags/ssh_cty.go
  util/buildflags/utils.go
Labels: area/bake, area/bake/compose, area/tests

bake: fix entitlements path checks for local outputs
  bake/bake.go
  bake/entitlements.go
  bake/entitlements_test.go
  build/build.go
  controller/build/build.go
  controller/pb/export.go
Labels: area/bake, area/build, area/controller, area/tests

bake: allow entitlements from overrides automatically
  bake/bake.go
  bake/bake_test.go
  commands/bake.go
Labels: area/bake, area/cli, area/tests

Dockerfile: update to docker v27.4.0
  Dockerfile
Labels: none

vendor: github.com/docker/docker v27.4.0
  go.mod
  go.sum
  vendor/github.com/docker/docker/registry/types.go
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/docker/cli v27.4.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli-plugins/manager/manager.go
  vendor/github.com/docker/cli/cli/trust/trust.go
  vendor/modules.txt
Labels: area/dependencies

bake: cache-from/cache-to options no longer print sensitive values
  bake/bake.go
  bake/compose.go
  bake/hcl_test.go
  bake/hclparser/type_implied_ext.go
  tests/bake.go
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
  util/buildflags/cty.go
  util/buildflags/utils.go
Labels: area/bake, area/bake/compose, area/tests

bake: various fixes for composable attributes
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/hcl_test.go
  bake/hclparser/type_implied_ext.go
  tests/bake.go
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
  util/buildflags/context.go
  util/buildflags/cty.go
  util/buildflags/entitlements.go
  util/buildflags/export.go
  util/buildflags/export_cty.go
  util/buildflags/secrets.go
  util/buildflags/secrets_cty.go
  util/buildflags/ssh.go
  util/buildflags/ssh_cty.go
  util/buildflags/utils.go
Labels: area/bake, area/bake/compose, area/tests

bake: implement composable attributes for attestations
  bake/bake.go
  bake/bake_test.go
  bake/hcl_test.go
  util/buildflags/attests.go
  util/buildflags/attests_cty.go
Labels: area/bake, area/tests

update xx to v1.6.1
  Dockerfile
Labels: none

dockerfiles: pin alpine version
  Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/hack

Dockerfile: update to docker v27.4.0
  Dockerfile
Labels: none

bake: various fixes for composable attributes
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/hcl_test.go
  bake/hclparser/type_implied_ext.go
  tests/bake.go
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
  util/buildflags/context.go
  util/buildflags/cty.go
  util/buildflags/entitlements.go
  util/buildflags/export.go
  util/buildflags/export_cty.go
  util/buildflags/secrets.go
  util/buildflags/secrets_cty.go
  util/buildflags/ssh.go
  util/buildflags/ssh_cty.go
  util/buildflags/utils.go
Labels: area/bake, area/bake/compose, area/tests

update xx to v1.6.1
  Dockerfile
Labels: none

bump compose-go v2.4.6
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/loader/example1.label
  vendor/github.com/compose-spec/compose-go/v2/loader/example2.label
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/full-example.yml
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/override/merge.go
  vendor/github.com/compose-spec/compose-go/v2/paths/resolve.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/develop.go
  vendor/github.com/compose-spec/compose-go/v2/types/labels.go
  vendor/github.com/compose-spec/compose-go/v2/types/mapping.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/modules.txt
Labels: area/dependencies

[v0.19] bake: remove empty values set by --set
  util/buildflags/cache.go
  util/buildflags/export.go
  util/buildflags/secrets.go
  util/buildflags/ssh.go
Labels: none

bake: test empty override
  bake/bake_test.go
Labels: area/bake, area/tests

builder: validate buildkit configuration
  builder/builder_test.go
  util/confutil/config.go
Labels: area/builder, area/tests

vendor: github.com/docker/cli v27.4.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli-plugins/manager/manager.go
  vendor/github.com/docker/cli/cli/trust/trust.go
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/docker/docker v27.4.0
  go.mod
  go.sum
  vendor/github.com/docker/docker/registry/types.go
  vendor/modules.txt
Labels: area/dependencies

update test BuildKit to v0.18.2
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci
