Repository docker/buildx, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/bake, area/bake/compose, area/build, area/builder, area/cli, area/controller, area/docs, area/dependencies, area/driver, area/driver/docker, area/driver/docker-container, area/driver/kubernetes, area/driver/remote, area/hack, area/tests

.github/labeler.yml:

# Add 'area/project' label to changes in basic project documentation and .github folder, excluding .github/workflows
area/project:
  - all:
      - changed-files:
          - any-glob-to-any-file:
              - .github/**
              - LICENSE
              - AUTHORS
              - MAINTAINERS
              - PROJECT.md
              - README.md
              - .gitignore
              - codecov.yml
          - all-globs-to-all-files: '!.github/workflows/*'

# Add 'area/github-actions' label to changes in the .github/workflows folder
area/ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**'

# Add 'area/bake' label to changes in the bake
area/bake:
  - changed-files:
      - any-glob-to-any-file: 'bake/**'

# Add 'area/bake/compose' label to changes in the bake+compose
area/bake/compose:
  - changed-files:
      - any-glob-to-any-file:
          - bake/compose.go
          - bake/compose_test.go

# Add 'area/build' label to changes in build files
area/build:
  - changed-files:
      - any-glob-to-any-file: 'build/**'

# Add 'area/builder' label to changes in builder files
area/builder:
  - changed-files:
      - any-glob-to-any-file: 'builder/**'

# Add 'area/cli' label to changes in the CLI
area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - cmd/**
          - commands/**

# Add 'area/controller' label to changes in the controller
area/controller:
  - changed-files:
      - any-glob-to-any-file: 'controller/**'

# Add 'area/docs' label to markdown files in the docs folder
area/docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/**/*.md'

# Add 'area/dependencies' label to changes in go dependency files
area/dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - vendor/**

# Add 'area/driver' label to changes in the driver folder
area/driver:
  - changed-files:
      - any-glob-to-any-file: 'driver/**'

# Add 'area/driver/docker' label to changes in the docker driver
area/driver/docker:
  - changed-files:
      - any-glob-to-any-file: 'driver/docker/**'

# Add 'area/driver/docker-container' label to changes in the docker-container driver
area/driver/docker-container:
  - changed-files:
      - any-glob-to-any-file: 'driver/docker-container/**'

# Add 'area/driver/kubernetes' label to changes in the kubernetes driver
area/driver/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'driver/kubernetes/**'

# Add 'area/driver/remote' label to changes in the remote driver
area/driver/remote:
  - changed-files:
      - any-glob-to-any-file: 'driver/remote/**'

# Add 'area/hack' label to changes in the hack folder
area/hack:
  - changed-files:
      - any-glob-to-any-file: 'hack/**'

# Add 'area/tests' label to changes in test files
area/tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - '**/*_test.go'

bake: change evaluation of entitlement paths
  bake/entitlements.go
  bake/entitlements_test.go
Labels: area/bake, area/tests

add additional test coverage for FS entitlement paths
  bake/entitlements_test.go
  tests/bake.go
Labels: area/bake, area/tests

bake: change evaluation of entitlement paths
  bake/entitlements.go
  bake/entitlements_test.go
Labels: area/bake, area/tests

add additional test coverage for FS entitlement paths
  bake/entitlements_test.go
  tests/bake.go
Labels: area/bake, area/tests

bake: fix missing default target in group's default targets
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

vendor: docker/cli master
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli-plugins/manager/cobra.go
  vendor/github.com/docker/cli/cli-plugins/plugin/plugin.go
  vendor/github.com/docker/cli/cli/cobra.go
  vendor/github.com/docker/cli/cli/command/cli.go
  vendor/github.com/docker/cli/cli/command/formatter/container.go
  vendor/github.com/docker/cli/cli/command/formatter/disk_usage.go
  vendor/github.com/docker/cli/cli/command/registry.go
  vendor/github.com/docker/cli/cli/command/utils.go
  vendor/github.com/docker/cli/cli/config/config.go
  vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  vendor/github.com/docker/cli/cli/error.go
  vendor/github.com/docker/cli/cli/hints/hints.go
  vendor/github.com/docker/cli/cli/registry/client/endpoint.go
  vendor/github.com/docker/cli/cli/required.go
  vendor/github.com/docker/cli/opts/network.go
  vendor/modules.txt
Labels: area/dependencies

vendor: test moby pkg/system refactor
  go.mod
  go.sum
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/archive/changes.go
  vendor/github.com/docker/docker/pkg/archive/changes_linux.go
  vendor/github.com/docker/docker/pkg/archive/changes_other.go
  vendor/github.com/docker/docker/pkg/archive/changes_unix.go
  vendor/github.com/docker/docker/pkg/archive/changes_windows.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/archive/dev_freebsd.go
  vendor/github.com/docker/docker/pkg/archive/dev_unix.go
  vendor/github.com/docker/docker/pkg/archive/diff.go
  vendor/github.com/docker/docker/pkg/archive/time.go
  vendor/github.com/docker/docker/pkg/archive/time_linux.go
  vendor/github.com/docker/docker/pkg/archive/time_nonwindows.go
  vendor/github.com/docker/docker/pkg/archive/time_unsupported.go
  vendor/github.com/docker/docker/pkg/archive/time_windows.go
  vendor/github.com/docker/docker/pkg/archive/xattr_supported.go
  vendor/github.com/docker/docker/pkg/archive/xattr_supported_linux.go
  vendor/github.com/docker/docker/pkg/archive/xattr_supported_unix.go
  vendor/github.com/docker/docker/pkg/archive/xattr_unsupported.go
  vendor/github.com/docker/docker/pkg/system/lstat_unix.go
  vendor/github.com/docker/docker/pkg/system/lstat_windows.go
  vendor/github.com/docker/docker/pkg/system/mknod.go
  vendor/github.com/docker/docker/pkg/system/mknod_freebsd.go
  vendor/github.com/docker/docker/pkg/system/mknod_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_bsd.go
  vendor/github.com/docker/docker/pkg/system/stat_darwin.go
  vendor/github.com/docker/docker/pkg/system/stat_illumos.go
  vendor/github.com/docker/docker/pkg/system/stat_linux.go
  vendor/github.com/docker/docker/pkg/system/stat_openbsd.go
  vendor/github.com/docker/docker/pkg/system/stat_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_windows.go
  vendor/modules.txt
Labels: area/dependencies

docs: add docs for bake --allow
  docs/reference/buildx_bake.md
Labels: area/docs

bake: various fixes for composable attributes
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/hcl_test.go
  bake/hclparser/type_implied_ext.go
  tests/bake.go
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
  util/buildflags/context.go
  util/buildflags/cty.go
  util/buildflags/entitlements.go
  util/buildflags/export.go
  util/buildflags/export_cty.go
  util/buildflags/secrets.go
  util/buildflags/secrets_cty.go
  util/buildflags/ssh.go
  util/buildflags/ssh_cty.go
  util/buildflags/utils.go
Labels: area/bake, area/bake/compose, area/tests

bake: implement composable attributes for attestations
  bake/bake.go
  bake/bake_test.go
  bake/hcl_test.go
  util/buildflags/attests.go
  util/buildflags/attests_cty.go
Labels: area/bake, area/tests

bake: test empty override
  bake/bake_test.go
Labels: area/bake, area/tests

ci: e2e bake
  .github/workflows/e2e.yml
Labels: area/ci

Dockerfile: update to docker v27.4.1
  Dockerfile
Labels: none

vendor: github.com/docker/docker v27.4.1
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/pkg/system/lstat_unix.go
  vendor/github.com/docker/docker/pkg/system/lstat_windows.go
  vendor/github.com/docker/docker/pkg/system/mknod.go
  vendor/github.com/docker/docker/pkg/system/mknod_freebsd.go
  vendor/github.com/docker/docker/pkg/system/mknod_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_linux.go
  vendor/github.com/docker/docker/pkg/system/stat_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_windows.go
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/docker/cli v27.4.1
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

bake: make FS entitlements error by default
  bake/entitlements.go
  hack/test-driver
Labels: area/bake, area/hack

progress: fix missing last progress from loading layers
  util/dockerutil/progress.go
Labels: none

bake: fix context from target platform matching
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

vendor: docker/cli master
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli-plugins/manager/cobra.go
  vendor/github.com/docker/cli/cli-plugins/plugin/plugin.go
  vendor/github.com/docker/cli/cli/cobra.go
  vendor/github.com/docker/cli/cli/command/cli.go
  vendor/github.com/docker/cli/cli/command/formatter/container.go
  vendor/github.com/docker/cli/cli/command/formatter/disk_usage.go
  vendor/github.com/docker/cli/cli/command/registry.go
  vendor/github.com/docker/cli/cli/command/utils.go
  vendor/github.com/docker/cli/cli/config/config.go
  vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  vendor/github.com/docker/cli/cli/error.go
  vendor/github.com/docker/cli/cli/hints/hints.go
  vendor/github.com/docker/cli/cli/registry/client/endpoint.go
  vendor/github.com/docker/cli/cli/required.go
  vendor/github.com/docker/cli/opts/network.go
  vendor/modules.txt
Labels: area/dependencies

vendor: test Split idtools to an internal package and package to be moved
  go.mod
  go.sum
  vendor/github.com/docker/docker/pkg/idtools/const_windows.go
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_windows.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_linux.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_unsupported.go
  vendor/github.com/docker/docker/pkg/idtools/utils_unix.go
  vendor/github.com/moby/sys/user/LICENSE
  vendor/github.com/moby/sys/user/lookup_unix.go
  vendor/github.com/moby/sys/user/user.go
  vendor/github.com/moby/sys/user/user_fuzzer.go
  vendor/modules.txt
Labels: area/dependencies

vendor: test Remove use of pkg/pools in archive
  go.mod
  go.sum
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/github.com/docker/docker/pkg/archive/changes.go
  vendor/github.com/docker/docker/pkg/archive/copy.go
  vendor/github.com/docker/docker/pkg/archive/diff.go
  vendor/github.com/docker/docker/pkg/idtools/const_windows.go
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_windows.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_linux.go
  vendor/github.com/docker/docker/pkg/idtools/usergroupadd_unsupported.go
  vendor/github.com/docker/docker/pkg/idtools/utils_unix.go
  vendor/github.com/docker/docker/pkg/pools/pools.go
  vendor/github.com/moby/sys/user/LICENSE
  vendor/github.com/moby/sys/user/lookup_unix.go
  vendor/github.com/moby/sys/user/user.go
  vendor/github.com/moby/sys/user/user_fuzzer.go
  vendor/modules.txt
Labels: area/dependencies

bake: fix missing default target in group's default targets
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

hack: mount docker config on gha
  hack/test
Labels: area/hack

bake: update lookup order for override
  bake/bake.go
  docs/bake-reference.md
Labels: area/bake, area/docs

test bsd
  .github/workflows/build.yml
  hack/Vagrantfile.freebsd
  hack/Vagrantfile.openbsd
Labels: area/ci, area/hack

ci: e2e bake
  .github/workflows/e2e.yml
Labels: area/ci

dockerfile: update undock to 0.9.0
  Dockerfile
Labels: none

ci: update bake-action to v6
  .github/workflows/build.yml
  .github/workflows/docs-release.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
Labels: area/ci

bump compose-go to v2.4.7
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/paths/resolve.go
  vendor/github.com/compose-spec/compose-go/v2/paths/unix.go
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/modules.txt
Labels: area/dependencies

update compose build ssh path to an absolute one the unit test doesn't define a working_dir so path generate on Windows is escaped this use case is already covered and tested by compose-go CI
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

builder: validate buildkit configuration
  builder/builder_test.go
  util/confutil/config.go
Labels: area/builder, area/tests

bake: fix entitlements check for default SSH socket
  bake/entitlements.go
  tests/bake.go
Labels: area/bake, area/tests

bake: print and list flag mutually exclusive
  commands/bake.go
Labels: area/cli

bake: replace list-targets and list-variables flags with list=<type>
  commands/bake.go
  docs/reference/buildx_bake.md
  tests/bake.go
Labels: area/cli, area/docs, area/tests

bake: list flag json format support
  bake/hclparser/hclparser.go
  commands/bake.go
Labels: area/bake, area/cli

docs: add description for bake --list
  docs/reference/buildx_bake.md
Labels: area/docs

docs: missing quiet progress mode
  commands/build.go
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_debug_build.md
Labels: area/cli, area/docs

vendor: github.com/creack/pty v1.1.24
  go.mod
  go.sum
  vendor/github.com/creack/pty/README.md
  vendor/github.com/creack/pty/pty_unsupported.go
  vendor/github.com/creack/pty/pty_zos.go
  vendor/github.com/creack/pty/ztypes_openbsd_32bit_int.go
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/docker/cli-docs-tool v0.9.0
  go.mod
  go.sum
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/github.com/docker/cli-docs-tool/.golangci.yml
  vendor/github.com/docker/cli-docs-tool/Dockerfile
  vendor/github.com/docker/cli-docs-tool/clidocstool.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_yaml.go
  vendor/github.com/docker/cli-docs-tool/docker-bake.hcl
  vendor/modules.txt
Labels: area/dependencies

vendor: github.com/stretchr/testify v1.10.0
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Labels: area/dependencies
