Repository docker/buildx, pull requests merged in 2021-08, with the labels that each got.

#700 Update bake docs
  docs/reference/buildx_bake.md
Labels: docs

#670 Example with gha cache
  docs/reference/buildx_build.md
Labels: docs

#682 [kubernetes] Support --config to mount buildkit.toml and -driver-opt=qemu.install=true,qemu.image=tonistiigi/binfmt:latest for qemu installing
  docs/reference/buildx_create.md
  driver/bkimage/bkimage.go
  driver/kubernetes/driver.go
  driver/kubernetes/factory.go
  driver/kubernetes/manifest/manifest.go
  go.mod
  go.sum
  vendor/modules.txt
Labels: enhancement, kubernetes

#707 Enhance readme
  README.md
  docs/reference/buildx_create.md
Labels: docs

#692 Allow booting builder after creation
  commands/create.go
  commands/inspect.go
  commands/util.go
  docs/reference/buildx_create.md
Labels: enhancement

#721 bake: `x-bake` extension field with compose
  bake/compose.go
  bake/compose_test.go
  docs/reference/buildx_bake.md
Labels: enhancement, bake
