Repository docker/buildx, pull requests merged in 2022-10, with the labels that each got.

#1310 kubernetes: rootless: support Google Container-Optimized OS (Fix ` Options:[rbind ro]}]: operation not permitted` errors)
  driver/kubernetes/manifest/manifest.go
Labels: area/driver/kubernetes

#1334 Driver docs update
  docs/guides/drivers/docker-container.md
  docs/guides/drivers/docker.md
  docs/guides/drivers/index.md
  docs/guides/drivers/kubernetes.md
  docs/guides/drivers/remote.md
Labels: kind/docs

#1332 added tables for cache parameters
  docs/guides/cache/azblob.md
  docs/guides/cache/gha.md
  docs/guides/cache/index.md
  docs/guides/cache/local.md
  docs/guides/cache/registry.md
  docs/guides/cache/s3.md
Labels: kind/docs

#1000 docs: make sure syntax with latest stable dockerfile image is defined
  README.md
  docs/reference/buildx_build.md
Labels: kind/docs

#1371 progress: explicitly fail if tty requested but not available
  commands/bake.go
  commands/build.go
  commands/imagetools/create.go
  commands/util.go
  util/progress/printer.go
Labels: kind/bug
