Repository docker/buildx, pull requests merged in 2022-11, with the labels that each got.

#1385 Add exporter docs
  docs/guides/cache/index.md
  docs/guides/cicd.md
  docs/guides/exporters/image-registry.md
  docs/guides/exporters/index.md
  docs/guides/exporters/local-tar.md
  docs/guides/exporters/oci-docker.md
Labels: kind/docs

#1406 Synchronise access to the map when printing.
  util/imagetools/printers.go
Labels: needs-cherry-pick/v0.9

#1313 bake: recursively resolve groups
  bake/bake.go
  bake/bake_test.go
  commands/bake.go
Labels: area/bake

#1305 progress: add prefix to vertex progress group
  util/progress/multiwriter.go
Labels: area/bake

#1255 docker api: use helper to parse context docker endpoint metadata
  commands/util.go
Labels: area/driver
