Repository docker/buildx, pull requests merged in 2022-12, with the labels that each got.

#1442 bake: fix panic for unsupported hcl variable type
  bake/hcl_test.go
  bake/hclparser/hclparser.go
Labels: area/bake

#1430 Refactor builder and drivers info logic
  bake/remote.go
  build/build.go
  builder/builder.go
  builder/node.go
  commands/bake.go
  commands/build.go
  commands/create.go
  commands/diskusage.go
  commands/imagetools/create.go
  commands/imagetools/inspect.go
  commands/inspect.go
  commands/ls.go
  commands/prune.go
  commands/rm.go
  commands/stop.go
  commands/use.go
  commands/util.go
  store/storeutil/storeutil.go
  util/dockerutil/api.go
  util/dockerutil/client.go
  util/dockerutil/context.go
Labels: kind/enhancement, area/driver

#1412 Attestations from buildx
  bake/bake.go
  build/build.go
  commands/bake.go
  commands/build.go
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  util/buildflags/attests.go
Labels: kind/enhancement, area/bake, area/build

#1439 store: set nodegroup last activity
  commands/bake.go
  commands/build.go
  commands/inspect.go
  store/nodegroup.go
  store/store.go
  store/store_test.go
  store/storeutil/storeutil.go
Labels: kind/enhancement

#1449 bake: support null arg and label value
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/compose_test.go
  bake/hcl_test.go
  bake/hclparser/expr.go
  bake/hclparser/hclparser.go
Labels: kind/enhancement, area/bake

#1479 build: check error from toSolveOpt before adding FrontendAttrs
  build/build.go
Labels: kind/bug
