Repository docker/buildx, pull requests merged in 2023-05, with the labels that each got.

#1597 kubernetes driver: add serviceaccount opt
  docs/reference/buildx_create.md
  driver/kubernetes/factory.go
  driver/kubernetes/manifest/manifest.go
Labels: area/driver/kubernetes, needs/docs-follow-up

#1727 cli: add shell completion
  bake/bake.go
  commands/bake.go
  commands/build.go
  commands/create.go
  commands/diskusage.go
  commands/imagetools/create.go
  commands/imagetools/inspect.go
  commands/imagetools/root.go
  commands/inspect.go
  commands/install.go
  commands/ls.go
  commands/prune.go
  commands/rm.go
  commands/root.go
  commands/stop.go
  commands/uninstall.go
  commands/use.go
  commands/version.go
  util/cobrautil/completion/completion.go
Labels: area/cli

#1746 controller: avoid "context canceled" error on cleanup
  build/result.go
Labels: area/debug

#1790 driver: update BuildKit version constraint for docker driver
  driver/docker/version.go
  driver/docker/version_test.go
Labels: area/driver/docker

#1788 vendor: github.com/docker/docker v23.0.6
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli-plugins/manager/cobra.go
  vendor/github.com/docker/cli/cli-plugins/manager/manager.go
  vendor/github.com/docker/cli/cli-plugins/manager/plugin.go
  vendor/github.com/docker/cli/cli/cobra.go
  vendor/github.com/docker/cli/cli/command/cli.go
  vendor/github.com/docker/cli/cli/command/registry.go
  vendor/github.com/docker/cli/cli/command/streams.go
  vendor/github.com/docker/cli/cli/context/store/metadatastore.go
  vendor/github.com/docker/cli/cli/context/store/tlsstore.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/client_deprecated.go
  vendor/github.com/docker/docker/pkg/archive/archive.go
  vendor/modules.txt
Labels: area/moby

#1783 bake: copy remote context contents to root
  bake/bake.go
Labels: area/bake

#1784 Support new compose features in bake
  bake/compose.go
  bake/compose_test.go
Labels: area/bake, needs/docs-follow-up

#1782 docs: add initial guide about debugging monitor mode
  docs/guides/debugging.md
Labels: area/debug

#1780 kubernetes driver: add support for proxy-url
  driver/kubernetes/context/endpoint_test.go
  driver/kubernetes/context/load.go
  driver/kubernetes/context/save.go
Labels: area/driver/kubernetes

#1794 progress: make printer ready only after pausing logrus
  util/progress/printer.go
Labels: needs-cherry-pick/v0.10

#1797 imagetools(create): set correct media type when combining manifests
  util/imagetools/create.go
Labels: area/imagetools

#1817 docs: fixup typo in buildkit console output
  docs/guides/debugging.md
Labels: kind/docs, area/debug

#1440 builder: add worker gc policies and labels
  builder/node.go
  commands/inspect.go
  docs/reference/buildx_inspect.md
Labels: kind/enhancement, needs/follow-up

#1830 build: fix missing "docker" driver name in build progress
  commands/build.go
Labels: kind/bug

#1831 driver(docker-container): fix incorrect path when writing certs
  util/confutil/container.go
Labels: area/driver/docker-container
