Repository docker/buildx, pull requests merged in 2023-04, with the labels that each got.

#1690 Implement matrix for bake targets
  bake/bake.go
  bake/hcl_test.go
  bake/hclparser/hclparser.go
  bake/hclparser/stdlib.go
Labels: kind/enhancement, area/bake

#1640 monitor: add `debug-shell` and `on-error`
  build/build.go
  build/invoke.go
  build/result.go
  commands/build.go
  commands/debug-shell.go
  commands/root.go
  controller/build/build.go
  controller/control/controller.go
  controller/errdefs/build.go
  controller/errdefs/errdefs.pb.go
  controller/errdefs/errdefs.proto
  controller/errdefs/generate.go
  controller/local/controller.go
  controller/pb/controller.pb.go
  controller/pb/controller.proto
  controller/processes/processes.go
  controller/remote/client.go
  controller/remote/controller.go
  controller/remote/server.go
  docs/reference/buildx.md
  docs/reference/buildx_debug-shell.md
  go.mod
  monitor/monitor.go
Labels: area/debug

#1732 builder: extra init error handling
  builder/builder.go
  store/storeutil/storeutil.go
Labels: needs-cherry-pick/v0.10
