Repository docker/buildx, pull requests merged in 2023-09, with the labels that each got.

#2037 docs: remove broken link
  README.md
Labels: kind/docs

#2040 build: validate build args and labels
  commands/build.go
  tests/build.go
Labels: area/build

#1998 build: improve error messages for docker driver
  build/build.go
  driver/features.go
  tests/build.go
Labels: area/driver/docker, area/cli

#2038 build: support local state group
  bake/bake.go
  build/build.go
  build/localstate.go
  commands/bake.go
  controller/build/build.go
  controller/pb/controller.pb.go
  controller/pb/controller.proto
  localstate/localstate.go
  localstate/localstate_test.go
Labels: area/build, needs/follow-up
