Repository docker/buildx, pull requests merged in 2023-10, with the labels that each got.

#2065 vendor: update compose-go to v1.19.0
  bake/compose_test.go
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/cli/options.go
  vendor/github.com/compose-spec/compose-go/loader/loader.go
  vendor/github.com/compose-spec/compose-go/loader/paths.go
  vendor/github.com/compose-spec/compose-go/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/template/template.go
  vendor/github.com/compose-spec/compose-go/types/develop.go
  vendor/github.com/compose-spec/compose-go/types/types.go
  vendor/modules.txt
Labels: needs/follow-up

#2083 test: docker host-gateway
  Dockerfile
  tests/build.go
  tests/inspect.go
Labels: area/driver/docker, kind/tests

#2006 debug: Add `buildx debug` command
  build/result.go
  commands/build.go
  commands/debug-shell.go
  commands/debug/root.go
  commands/root.go
  controller/processes/processes.go
  docs/guides/debugging.md
  docs/reference/buildx.md
  docs/reference/buildx_build.md
  docs/reference/buildx_debug-shell.md
  docs/reference/buildx_debug.md
  docs/reference/buildx_debug_build.md
  monitor/commands/exec.go
  monitor/commands/rollback.go
Labels: area/debug

#2076 bake: display read definition files in build output
  bake/bake.go
  bake/bake_test.go
  commands/bake.go
  tests/bake.go
  util/cobrautil/completion/completion.go
Labels: area/bake, area/cli

#1062 bake: set attribute even if diagnosed as duplicated
  bake/bake.go
  bake/hcl_test.go
  bake/hclparser/hclparser.go
  bake/hclparser/merged.go
Labels: area/bake

#2099 ci: enable SAST scanning with CodeQL
  .github/workflows/codeql.yml
Labels: area/ci
