Repository docker/buildx, pull requests merged in 2023-06, with the labels that each got.

#1804 Perform solve request in the main gateway call
  build/build.go
  build/invoke.go
  build/result.go
  commands/build.go
  controller/build/build.go
  controller/local/controller.go
  controller/processes/processes.go
  controller/remote/controller.go
  controller/remote/server.go
Labels: kind/bug, area/debug

#1840 bake: fix BAKE_CMD_CONTEXT relative path resolution
  bake/bake.go
  tests/bake.go
  tests/build.go
  tests/inspect.go
  tests/integration.go
  tests/integration_test.go
  tests/ls.go
  util/gitutil/gitutil.go
  util/gitutil/testutil.go
  util/gitutil/testutilserve.go
Labels: kind/bug, area/bake

#1865 vendor: github.com/Masterminds/semver/v3 v3.2.1
  go.mod
  go.sum
  vendor/github.com/Masterminds/semver/v3/.golangci.yml
  vendor/github.com/Masterminds/semver/v3/Makefile
  vendor/github.com/Masterminds/semver/v3/README.md
  vendor/github.com/Masterminds/semver/v3/SECURITY.md
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/Masterminds/semver/v3/fuzz.go
  vendor/modules.txt
Labels: dependencies

#1867 vendor: github.com/stretchr/testify v1.8.4
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
Labels: dependencies

#1866 vendor: github.com/compose-spec/compose-go v1.14.0
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/cli/options.go
  vendor/github.com/compose-spec/compose-go/dotenv/godotenv.go
  vendor/github.com/compose-spec/compose-go/interpolation/interpolation.go
  vendor/github.com/compose-spec/compose-go/loader/full-example.yml
  vendor/github.com/compose-spec/compose-go/loader/interpolate.go
  vendor/github.com/compose-spec/compose-go/loader/loader.go
  vendor/github.com/compose-spec/compose-go/loader/normalize.go
  vendor/github.com/compose-spec/compose-go/loader/null.go
  vendor/github.com/compose-spec/compose-go/loader/volume.go
  vendor/github.com/compose-spec/compose-go/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/template/template.go
  vendor/github.com/compose-spec/compose-go/tree/path.go
  vendor/github.com/compose-spec/compose-go/types/project.go
  vendor/github.com/compose-spec/compose-go/types/types.go
  vendor/modules.txt
Labels: dependencies

#1813 `--load` with moby containerd store should use the `oci` exporter
  build/build.go
  util/dockerutil/client.go
  util/dockerutil/features.go
Labels: kind/enhancement, area/moby

#1835 invoke: Allow JSON array for entrypoint and args flags in long form
  commands/build.go
  docs/guides/debugging.md
Labels: area/debug

#1880 bake: fix incorrect dockerfile resolution against `cwd://` context
  bake/bake.go
  bake/bake_test.go
Labels: needs-cherry-pick/v0.11

#1896 docs: add experimental annotation for debug-shell command
  commands/build.go
  commands/debug-shell.go
  docs/reference/buildx_build.md
  docs/reference/buildx_debug-shell.md
Labels: kind/docs, needs-cherry-pick/v0.11

#1897 test: register docker worker with containerd snapshotter
  .github/workflows/build.yml
  Dockerfile
  tests/build.go
  tests/inspect.go
  tests/ls.go
  tests/workers/docker.go
Labels: kind/tests

#1904 utils/buildflags: ParseEntitlements(): use BuildKit's parsing
  util/buildflags/entitlements.go
Labels: area/build, status/code-review

#1903 bake: ignore profiles in compose definitions
  bake/compose.go
  bake/compose_test.go
Labels: area/bake/compose, needs-cherry-pick/v0.11

#1913 Controller: Include CgroupParent in build.Options
  controller/build/build.go
Labels: needs-cherry-pick/v0.11

#1919 build: missing newline when printing build details on error
  tests/build.go
  util/desktop/desktop.go
Labels: needs-cherry-pick/v0.11, needs/release-notes
