Repository docker/buildx, pull requests merged in 2023-02, with the labels that each got.

#1596 builder: fix docker context not validated
  store/storeutil/storeutil.go
Labels: needs-cherry-pick/v0.10

#1602 ci: remove releases-json workflow
  .github/releases.json
  .github/workflows/releases-json.yml
Labels: needs/follow-up, needs-cherry-pick/v0.10

#1605 bake: avoid early-exit for resolution failures
  bake/hcl_test.go
  bake/hclparser/hclparser.go
Labels: needs-cherry-pick/v0.10

#1607 bake: avoid nesting error diagnostics
  bake/hclparser/expr.go
  bake/hclparser/hclparser.go
Labels: needs-cherry-pick/v0.10

#1592 build: check reachable git commits
  build/git.go
  util/gitutil/gitutil.go
  util/gitutil/gitutil_test.go
Labels: needs-cherry-pick/v0.10

#1617 imagetools: process `com.docker.reference.*` annotations
  util/imagetools/loader.go
Labels: needs-cherry-pick/v0.10

#1584 docs: added --platform=local example
  docs/reference/buildx_build.md
Labels: needs-cherry-pick/v0.10

#1620 Improvements for remote controller code
  commands/build.go
  controller/remote/client.go
  controller/remote/controller.go
Labels: area/debug

#1612 Add env var to disable default attestations
  build/build.go
Labels: needs/docs-follow-up, needs-cherry-pick/v0.10

#1037 chore: github issue template
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/SECURITY.md
Labels: needs/follow-up

#1650 build: makes git dirty check opt-in
  build/git.go
  build/git_test.go
Labels: needs/docs-follow-up, needs-cherry-pick/v0.10
