Repository docker/buildx, pull requests merged in 2023-03, with the labels that each got.

#1581 monitor: resolve paths arguments in client
  commands/build.go
  commands/build_test.go
Labels: area/debug

#1626 monitor: Enable to exec into the container
  build/build.go
  build/invoke.go
  commands/build.go
  controller/control/controller.go
  controller/local/controller.go
  controller/pb/controller.pb.go
  controller/pb/controller.proto
  controller/processes/processes.go
  controller/remote/client.go
  controller/remote/server.go
  driver/docker-container/driver.go
  monitor/monitor.go
  util/ioset/ioset.go
  util/ioset/mux.go
Labels: area/debug

#1673 k8s: generate node name if not provided
  commands/create.go
  driver/kubernetes/util/generate.go
  go.mod
  go.sum
  hack/test-driver
  vendor/k8s.io/apimachinery/pkg/util/rand/rand.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/pkg/storage/names/generate.go
  vendor/modules.txt
Labels: area/driver/kubernetes, needs/docs-follow-up

#1675 SOURCE_DATE_EPOCH build arg injection fixes
  bake/bake.go
  build/build.go
  commands/bake.go
  commands/build.go
Labels: needs/follow-up

#1693 remote: avoid tls error if both key and cert are not set
  driver/remote/factory.go
Labels: area/driver/remote

#1707 docs: update ls command output sample
  docs/reference/buildx_ls.md
Labels: kind/docs
