Repository docker/buildx, pull requests merged in 2023-08, with the labels that each got.

#1988 build: error on attests on non-multiplatform driver
  build/build.go
  tests/build.go
Labels: kind/bug, needs-cherry-pick/v0.11

#1940 README: clarify the Linux package install instructions
  README.md
Labels: kind/docs

#1965 imagetools: Allow annotations for OCI image index
  build/build.go
  commands/imagetools/create.go
  docs/reference/buildx_imagetools_create.md
  tests/imagetools.go
  util/imagetools/create.go
Labels: needs/docs-follow-up, area/imagetools, needs/release-notes

#1971 bump compose-go version to v1.17.0 to fix issue with depends_on
  bake/bake_test.go
  bake/compose_test.go
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/cli/options.go
  vendor/github.com/compose-spec/compose-go/dotenv/env.go
  vendor/github.com/compose-spec/compose-go/dotenv/parser.go
  vendor/github.com/compose-spec/compose-go/loader/full-example.yml
  vendor/github.com/compose-spec/compose-go/loader/include.go
  vendor/github.com/compose-spec/compose-go/loader/loader.go
  vendor/github.com/compose-spec/compose-go/loader/merge.go
  vendor/github.com/compose-spec/compose-go/loader/normalize.go
  vendor/github.com/compose-spec/compose-go/loader/paths.go
  vendor/github.com/compose-spec/compose-go/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/schema/schema.go
  vendor/github.com/compose-spec/compose-go/template/template.go
  vendor/github.com/compose-spec/compose-go/types/config.go
  vendor/github.com/compose-spec/compose-go/types/project.go
  vendor/github.com/compose-spec/compose-go/types/types.go
  vendor/github.com/compose-spec/compose-go/utils/collectionutils.go
  vendor/github.com/imdario/mergo/README.md
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Labels: area/bake/compose, needs/follow-up

#1999 vendor: bump k8s to v0.26.7
  go.mod
  go.sum
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/client-go/discovery/aggregated_discovery.go
  vendor/k8s.io/client-go/discovery/discovery_client.go
  vendor/k8s.io/client-go/openapi/client.go
  vendor/k8s.io/client-go/openapi/groupversion.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/modules.txt
Labels: area/driver/kubernetes, dependencies

#2000 docker-container: avoid fail if container conflict
  driver/docker-container/driver.go
Labels: area/driver/docker-container

#1905 update flag-description for --cgroup-parent
  commands/build.go
  docs/reference/buildx_build.md
Labels: kind/docs

#2014 test: fix non-deterministic compose context path
  bake/bake_test.go
  bake/compose_test.go
Labels: area/bake/compose, kind/tests
