Repository docker/buildx, pull requests merged in 2023-11, with the labels that each got.

#1838 command(bake): Specify local and remote bake files
  commands/bake.go
  tests/bake.go
Labels: area/bake, needs/docs-follow-up

#1966 build: rework node resolution
  build/build.go
  build/driver.go
  build/driver_test.go
Labels: kind/enhancement, area/driver

#2128 docs: update du cmd description
  docs/reference/buildx_du.md
Labels: kind/docs

#2136 docs: add buildx du verbose example
  docs/reference/buildx_du.md
Labels: kind/docs

#2121 Permit '=' separator and '[ipv6]' in --add-host
  build/utils.go
  build/utils_test.go
Labels: area/cli, needs-cherry-pick/v0.12

#1787 ls: format opt
  builder/builder.go
  builder/node.go
  commands/ls.go
  docs/reference/buildx_ls.md
  go.mod
  go.sum
  tests/ls.go
  vendor/github.com/docker/cli/cli/command/formatter/buildcache.go
  vendor/github.com/docker/cli/cli/command/formatter/container.go
  vendor/github.com/docker/cli/cli/command/formatter/context.go
  vendor/github.com/docker/cli/cli/command/formatter/custom.go
  vendor/github.com/docker/cli/cli/command/formatter/disk_usage.go
  vendor/github.com/docker/cli/cli/command/formatter/displayutils.go
  vendor/github.com/docker/cli/cli/command/formatter/formatter.go
  vendor/github.com/docker/cli/cli/command/formatter/image.go
  vendor/github.com/docker/cli/cli/command/formatter/reflect.go
  vendor/github.com/docker/cli/cli/command/formatter/tabwriter/tabwriter.go
  vendor/github.com/docker/cli/cli/command/formatter/volume.go
  vendor/github.com/docker/cli/templates/templates.go
  vendor/github.com/docker/docker/pkg/stringid/stringid.go
  vendor/github.com/mattn/go-runewidth/LICENSE
  vendor/github.com/mattn/go-runewidth/README.md
  vendor/github.com/mattn/go-runewidth/runewidth.go
  vendor/github.com/mattn/go-runewidth/runewidth_appengine.go
  vendor/github.com/mattn/go-runewidth/runewidth_js.go
  vendor/github.com/mattn/go-runewidth/runewidth_posix.go
  vendor/github.com/mattn/go-runewidth/runewidth_table.go
  vendor/github.com/mattn/go-runewidth/runewidth_windows.go
  vendor/github.com/rivo/uniseg/LICENSE.txt
  vendor/github.com/rivo/uniseg/README.md
  vendor/github.com/rivo/uniseg/doc.go
  vendor/github.com/rivo/uniseg/grapheme.go
  vendor/github.com/rivo/uniseg/properties.go
  vendor/golang.org/x/text/width/kind_string.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/golang.org/x/text/width/tables15.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
  vendor/golang.org/x/text/width/transform.go
  vendor/golang.org/x/text/width/trieval.go
  vendor/golang.org/x/text/width/width.go
  vendor/modules.txt
Labels: area/cli
