Repository docker/buildx, pull requests merged in 2023-07, with the labels that each got.

#1918 docs: handle hidden attribute for commands
  docs/reference/buildx.md
  docs/reference/buildx_install.md
  docs/reference/buildx_uninstall.md
  go.mod
  go.sum
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_yaml.go
  vendor/modules.txt
Labels: kind/docs, needs-cherry-pick/v0.11

#1894 build: fix host-gateway handling
  build/build.go
  build/utils.go
  driver/manager.go
Labels: needs/follow-up, needs-cherry-pick/v0.11, needs/release-notes

#1945 vendor: github.com/docker/docker@24.0 36e9e79
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/configs.go
  vendor/github.com/docker/docker/api/types/image/opts.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/github.com/docker/docker/client/client.go
  vendor/github.com/docker/docker/client/container_create.go
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/client/interface.go
  vendor/github.com/docker/docker/client/request.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.11

#1946 update go to 1.20.6
  Dockerfile
  docker-bake.hcl
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: needs-cherry-pick/v0.11

#1941 k8s: fix missing kubeconfig check from endpoint
  builder/node.go
Labels: kind/bug, area/driver/kubernetes, needs-cherry-pick/v0.11

#1954 build: mark result handle build as internal
  build/result.go
Labels: needs-cherry-pick/v0.11

#1961 build: set remote bake def and remote dockerfile as internal solve
  bake/remote.go
  build/url.go
Labels: needs-cherry-pick/v0.11

#1938 kubernetes driver // allow custom annotations and labels
  docs/reference/buildx_create.md
  driver/kubernetes/factory.go
  driver/kubernetes/factory_test.go
  driver/kubernetes/manifest/manifest.go
Labels: area/driver/kubernetes, needs/docs-follow-up, needs/release-notes

#1972 docs: fix platform example for create command
  docs/reference/buildx_create.md
Labels: kind/docs

#1681 docs: update since buildinfo removal
  docs/reference/buildx_build.md
Labels: kind/docs
