Repository docker/buildx, pull requests merged in 2023-01, with the labels that each got.

#1463 e2e: use native k3s installation script
  .github/workflows/e2e.yml
Labels: kind/tests

#1444 imagetools inspect: handle provenance and sboms
  docs/reference/buildx_imagetools_inspect.md
  util/imagetools/loader.go
  util/imagetools/printers.go
Labels: kind/enhancement

#1493 docs: update anchor links
  commands/build.go
  docs/reference/buildx_build.md
Labels: kind/docs, status/docs-review

#1494 go.mod: update cli-docs-tool v0.5.1
  docs/reference/buildx.md
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_create.md
  docs/reference/buildx_du.md
  docs/reference/buildx_imagetools.md
  docs/reference/buildx_imagetools_create.md
  docs/reference/buildx_imagetools_inspect.md
  docs/reference/buildx_inspect.md
  docs/reference/buildx_prune.md
  docs/reference/buildx_rm.md
  docs/reference/buildx_stop.md
  docs/reference/buildx_use.md
  go.mod
  go.sum
  vendor/github.com/docker/cli-docs-tool/README.md
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/modules.txt
Labels: kind/docs, status/docs-review

#1496 [0.10 backport] update anchor-links and cli-docs-tool v0.5.1
  commands/build.go
  docs/reference/buildx.md
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_create.md
  docs/reference/buildx_du.md
  docs/reference/buildx_imagetools.md
  docs/reference/buildx_imagetools_create.md
  docs/reference/buildx_imagetools_inspect.md
  docs/reference/buildx_inspect.md
  docs/reference/buildx_prune.md
  docs/reference/buildx_rm.md
  docs/reference/buildx_stop.md
  docs/reference/buildx_use.md
  go.mod
  go.sum
  vendor/github.com/docker/cli-docs-tool/README.md
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/modules.txt
Labels: kind/docs, status/docs-review

#1498 Improved attestation inspect
  docs/reference/buildx_imagetools_inspect.md
  util/imagetools/loader.go
  util/imagetools/printers.go
Labels: needs-cherry-pick/v0.10

#1523 docs: add reference for new attest family of flags
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
Labels: needs-cherry-pick/v0.10

#1511 build: error when using docker exporter and attestations
  build/build.go
Labels: kind/enhancement, needs-cherry-pick/v0.10

#1538 build: mark capabilities request as internal
  build/build.go
Labels: needs-cherry-pick/v0.10

#1505 Lazily load attestation data in `imagetools inspect`
  util/imagetools/loader.go
  util/imagetools/printers.go
Labels: needs-cherry-pick/v0.10

#1543 ci: update buildkit release version in build pipeline
  .github/workflows/build.yml
Labels: area/ci

#1547 rm: do not check for context builders when removing inactive
  commands/rm.go
Labels: needs-cherry-pick/v0.10

#1504 Refactor BuildWithResultHandler to simplify concurrency usage
  build/build.go
Labels: kind/bug, needs-cherry-pick/v0.10

#1548 build: set remote origin url
  build/git_test.go
  util/gitutil/gitutil.go
  util/gitutil/gitutil_test.go
  util/gitutil/testutil.go
Labels: needs-cherry-pick/v0.10

#1564 bake: SOURCE_DATE_EPOCH: fix `panic: assignment to entry in nil map`
  bake/bake.go
Labels: needs-cherry-pick/v0.10

#1563 ci: generate releases.json on release event
  .github/releases.json
  .github/workflows/build.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/e2e.yml
  .github/workflows/releases-json.yml
  .github/workflows/validate.yml
Labels: area/ci

#1561 build: fix preferred platform not taken into account
  builder/node.go
Labels: needs-cherry-pick/v0.10

#1566 build: fix multi-node merge to read descriptor from result
  build/build.go
Labels: needs-cherry-pick/v0.10

#1568 build: silently fail if git remote not found
  build/git.go
Labels: needs-cherry-pick/v0.10

#1572 ci: update buildx and buildkit to latest
  .github/workflows/build.yml
Labels: area/ci

#1574 ci: fix pr branch name in releases-json workflow
  .github/workflows/releases-json.yml
Labels: needs-cherry-pick/v0.10
