Repository docker/buildx, pull requests merged in 2023-12, with the labels that each got.

#2157 ci: use public bot account to push bin image
  .github/workflows/build.yml
Labels: area/ci

#2154 docs: annotations
  docs/bake-reference.md
  docs/reference/buildx_build.md
  docs/reference/buildx_imagetools_create.md
Labels: needs-cherry-pick/v0.12

#2171 docs: add --no-cache-filter example
  docs/reference/buildx_build.md
Labels: kind/docs, needs-cherry-pick/v0.12
