Repository docker/buildx, pull requests merged in 2024-01, with the labels that each got.

#2176 driver(container): fix conditional statement for error handling
  driver/docker-container/factory.go
  tests/create.go
  tests/integration_test.go
  tests/rm.go
Labels: area/driver/docker-container, needs-cherry-pick/v0.12

#2140 rm: support removing multiple builders at once
  commands/rm.go
  docs/reference/buildx.md
  docs/reference/buildx_rm.md
  tests/integration_test.go
  tests/rm.go
Labels: area/cli

#2188 Mark experimental flags in `--help`
  commands/build.go
  commands/debug/root.go
  commands/root.go
  docs/generate.go
  docs/reference/buildx.md
  docs/reference/buildx_build.md
  docs/reference/buildx_debug.md
  docs/reference/buildx_debug_build.md
  util/cobrautil/cobrautil.go
Labels: area/cli

#2186 docs: update link to `docker build` reference
  commands/build.go
  docs/bake-reference.md
  docs/reference/buildx_build.md
  docs/reference/buildx_debug_build.md
Labels: kind/docs, needs-cherry-pick/v0.12

#2184 Use Cobra's `command.Context()`, cancel execution when CLI is signalled
  commands/bake.go
  commands/build.go
  commands/create.go
  commands/diskusage.go
  commands/imagetools/create.go
  commands/imagetools/inspect.go
  commands/inspect.go
  commands/ls.go
  commands/prune.go
  commands/rm.go
  commands/root.go
  commands/stop.go
Labels: status/code-review, area/cli

#2206 ci: test-unit job matrix for win/macos/ubuntu
  .github/workflows/build.yml
  build/git.go
  build/git_unix.go
  build/git_windows.go
  go.mod
  util/gitutil/gitutil.go
  util/gitutil/path.go
  util/gitutil/path_unix_test.go
  util/gitutil/path_windows.go
  util/gitutil/path_windows_test.go
Labels: area/windows, kind/tests, area/ci, needs-cherry-pick/v0.12

#2210 bump actions/upload-artifact and actions/download-artifact to 4
  .github/workflows/build.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/e2e.yml
Labels: area/ci

#2213 [v0.12] ci(docs-upstream): pin reusable workflow
  .github/workflows/docs-upstream.yml
Labels: area/ci

#2212 bump gotest-annotations to fa6141aedf23596fb8bdcceab9cce8dadaa31bd9
  .github/workflows/build.yml
Labels: area/ci
