Repository docker/buildx, pull requests merged in 2024-11, with the labels that each got.

#2780 bump compose-go to version v2.4.3
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/loader/reset.go
  vendor/modules.txt
Labels: area/dependencies

#2778 bake: improve error when using incorrect format for setting labels
  bake/bake.go
Labels: area/bake

#2777 Add ability to output json lists in metadata build file
  commands/build.go
Labels: area/cli

#2773 dockerfile: update testing tools
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2790 bake: check for empty build network with compose
  bake/compose.go
  tests/bake.go
Labels: area/bake, area/bake/compose, area/tests

#2795 docs: add "call" attribute for target
  docs/bake-reference.md
Labels: area/docs

#2794 bake: basic variable validation
  bake/bake_test.go
  bake/hclparser/hclparser.go
Labels: area/bake, area/tests

#2798 Improve linter checks
  .golangci.yml
  bake/compose.go
  bake/hclparser/stdlib.go
  build/invoke.go
  build/result.go
  builder/builder.go
  commands/bake.go
  commands/build.go
  commands/imagetools/create.go
  commands/inspect.go
  commands/ls.go
  commands/rm.go
  commands/use.go
  controller/local/controller.go
  controller/pb/path.go
  controller/pb/progress.go
  controller/processes/processes.go
  controller/remote/controller.go
  controller/remote/io.go
  controller/remote/server.go
  driver/docker-container/driver.go
  driver/docker/version.go
  driver/kubernetes/driver.go
  driver/remote/driver.go
  monitor/monitor.go
  tests/bake.go
  tests/build.go
  util/buildflags/export.go
  util/dockerutil/client.go
  util/dockerutil/progress.go
  util/gitutil/testutilserve.go
  util/imagetools/imagetools_helpers_test.go
  util/waitmap/waitmap.go
  util/waitmap/waitmap_test.go
Labels: area/driver/kubernetes, area/bake, area/bake/compose, area/driver/remote, area/driver/docker-container, area/driver/docker, area/driver, area/build, area/cli, area/controller, area/builder, area/tests

#2797 ci: update runner to macos-14
  .github/workflows/build.yml
Labels: area/ci

#2782 update to go 1.23
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .golangci.yml
  Dockerfile
  builder/builder.go
  commands/inspect.go
  commands/ls.go
  commands/rm.go
  controller/remote/controller.go
  driver/docker/driver.go
  driver/remote/driver.go
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/driver/remote, area/driver/docker, area/driver, area/cli, area/ci, area/controller, area/hack, area/builder

#2307 tests: handle multiple docker versions
  .github/workflows/build.yml
  Dockerfile
  tests/build.go
  tests/inspect.go
  tests/integration.go
  tests/ls.go
  tests/workers/docker.go
Labels: status/needs-follow-up, area/ci, area/testing, needs/maintainer-decision, area/tests

#2801 lint: enable testifylint
  .golangci.yml
  bake/bake_test.go
  bake/hcl_test.go
  build/git_test.go
  build/replicatedstream_test.go
  build/utils_test.go
  builder/builder_test.go
  driver/kubernetes/context/endpoint_test.go
  store/nodegroup_test.go
  store/store_test.go
  tests/bake.go
  tests/build.go
  tests/create.go
  tests/dialstdio.go
  util/confutil/config_unix_test.go
  util/imagetools/loader_test.go
  util/waitmap/waitmap_test.go
Labels: area/driver/kubernetes, area/bake, area/driver, area/build, area/builder, area/tests

#2758 bake: initial set of composable bake attributes
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/compose_test.go
  bake/hcl_test.go
  bake/hclparser/LICENSE
  bake/hclparser/gohcl/decode.go
  bake/hclparser/gohcl/decode_test.go
  bake/hclparser/gohcl/doc.go
  bake/hclparser/gohcl/encode.go
  bake/hclparser/gohcl/encode_test.go
  bake/hclparser/gohcl/schema.go
  bake/hclparser/gohcl/schema_test.go
  bake/hclparser/gohcl/types.go
  bake/hclparser/hclparser.go
  bake/hclparser/type_implied.go
  bake/hclparser/type_implied_ext.go
  controller/pb/export.go
  go.mod
  util/buildflags/cache.go
  util/buildflags/cty.go
  util/buildflags/export.go
  util/buildflags/secrets.go
  util/buildflags/ssh.go
Labels: area/bake, area/bake/compose, area/controller, area/dependencies, area/tests

#2806 vendor: update compose to v2.4.4
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/reset.go
  vendor/github.com/compose-spec/compose-go/v2/types/config.go
  vendor/modules.txt
Labels: area/dependencies

#2815 bake: fix entitlement test when running from symlink temp
  bake/entitlements_test.go
Labels: area/bake, area/tests

#2811 dockerfile: update buildkit to v0.17.2
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2812 bake: add wildcard to fs entitlements to allow any paths
  bake/entitlements.go
  bake/entitlements_test.go
  bake/entitlements_unix.go
  bake/entitlements_windows.go
Labels: area/bake, needs/docs-follow-up, area/tests

#2818 vendor: update buildkit to v0.18.0-rc2
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/util/testutil/workers/dockerd.go
  vendor/github.com/moby/buildkit/util/testutil/workers/features.go
  vendor/modules.txt
Labels: area/dependencies

#2821 vendor: update buildkit to v0.18.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#2824 [v0.19] revert: "bake: initial set of composable bake attributes"
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/compose_test.go
  bake/hcl_test.go
  bake/hclparser/LICENSE
  bake/hclparser/gohcl/decode.go
  bake/hclparser/gohcl/decode_test.go
  bake/hclparser/gohcl/doc.go
  bake/hclparser/gohcl/encode.go
  bake/hclparser/gohcl/encode_test.go
  bake/hclparser/gohcl/schema.go
  bake/hclparser/gohcl/schema_test.go
  bake/hclparser/gohcl/types.go
  bake/hclparser/hclparser.go
  bake/hclparser/type_implied.go
  bake/hclparser/type_implied_ext.go
  controller/pb/export.go
  go.mod
  util/buildflags/cache.go
  util/buildflags/cty.go
  util/buildflags/export.go
  util/buildflags/secrets.go
  util/buildflags/ssh.go
Labels: area/bake, area/bake/compose, area/controller, area/dependencies, area/tests

#2829 bump compose-go to v2.4.5
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/template/variables.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/modules.txt
Labels: area/dependencies

#2828 ci: use edge releases of buildx
  .github/workflows/build.yml
  .github/workflows/docs-release.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
Labels: area/ci
