Repository docker/buildx, pull requests merged in 2024-05, with the labels that each got.

#2439 ci(validate): split lint
  .github/workflows/validate.yml
Labels: area/ci

#2442 ci(validate): fix GOLANGCI_LINT_MULTIPLATFORM type for multiplatform lint
  docker-bake.hcl
Labels: area/ci

#2444 build: fix multiple named contexts pointing to same bake target
  build/build.go
Labels: area/build, status/merge

#2460 vendor: update buildx to latest docker/cli
  cmd/buildx/main.go
  commands/build.go
  go.mod
  go.sum
  util/metricutil/metric.go
  vendor/github.com/docker/cli/cli-plugins/hooks/template.go
  vendor/github.com/docker/cli/cli-plugins/manager/hooks.go
  vendor/github.com/docker/cli/cli-plugins/manager/manager.go
  vendor/github.com/docker/cli/cli-plugins/manager/plugin.go
  vendor/github.com/docker/cli/cli-plugins/plugin/plugin.go
  vendor/github.com/docker/cli/cli/command/cli.go
  vendor/github.com/docker/cli/cli/command/telemetry.go
  vendor/github.com/docker/cli/cli/command/telemetry_docker.go
  vendor/github.com/docker/cli/cli/command/telemetry_utils.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.14

#2477 build: loadInputs: remove redundant checks for hasTag, hasDigest
  build/opt.go
Labels: status/code-review

#2473 prune: allow negative and prefix filters
  commands/prune.go
Labels: status/code-review

#2475 remove uses of github.com/docker/docker/builder/remotecontext package
  build/opt.go
  build/utils.go
  controller/pb/path.go
  vendor/github.com/docker/docker/builder/remotecontext/urlutil/urlutil.go
  vendor/modules.txt
Labels: status/code-review

#2478 build: loadInputs: extract resolving digest to a separate function
  build/opt.go
Labels: status/code-review

#2425 bump compose-go to v2.1.1
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/graph/cycle.go
  vendor/github.com/compose-spec/compose-go/v2/loader/include.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/normalize.go
  vendor/github.com/compose-spec/compose-go/v2/loader/reset.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/override/uncity.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/template/template.go
  vendor/github.com/compose-spec/compose-go/v2/template/variables.go
  vendor/github.com/compose-spec/compose-go/v2/transform/build.go
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/github.com/compose-spec/compose-go/v2/transform/defaults.go
  vendor/github.com/compose-spec/compose-go/v2/transform/dependson.go
  vendor/github.com/compose-spec/compose-go/v2/transform/envfile.go
  vendor/github.com/compose-spec/compose-go/v2/transform/extends.go
  vendor/github.com/compose-spec/compose-go/v2/transform/external.go
  vendor/github.com/compose-spec/compose-go/v2/transform/include.go
  vendor/github.com/compose-spec/compose-go/v2/transform/mapping.go
  vendor/github.com/compose-spec/compose-go/v2/transform/ports.go
  vendor/github.com/compose-spec/compose-go/v2/transform/secrets.go
  vendor/github.com/compose-spec/compose-go/v2/transform/services.go
  vendor/github.com/compose-spec/compose-go/v2/transform/ssh.go
  vendor/github.com/compose-spec/compose-go/v2/transform/ulimits.go
  vendor/github.com/compose-spec/compose-go/v2/transform/volume.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/stringOrList.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/modules.txt
Labels: status/code-review, status/needs-follow-up

#2482 Add `--prefer-index` flag for`imagetools create` on a single source
  build/build.go
  commands/imagetools/create.go
  docs/reference/buildx_imagetools_create.md
  tests/imagetools.go
  util/imagetools/create.go
Labels: status/code-review
