Repository docker/buildx, pull requests merged in 2024-03, with the labels that each got.

#2302 build: handle push/load shorthands for multi exporters
  commands/bake.go
  controller/build/build.go
  tests/bake.go
  tests/build.go
Labels: needs-cherry-pick/v0.13

#2310 ci(docs-release): fix vendoring step
  .github/workflows/docs-release.yml
Labels: area/ci, needs-cherry-pick/v0.13

#2312 ci: disable provenance for docs generation
  .github/workflows/docs-release.yml
  .github/workflows/docs-upstream.yml
Labels: area/ci

#2319 docs: fix link to new target in dockerfile reference
  docs/reference/buildx_build.md
Labels: kind/docs

#2320 [v0.13 backport] docs: fix link to new target in dockerfile reference
  docs/reference/buildx_build.md
Labels: kind/docs

#2321 dockerfile: use moby-bin and cli-bin images for docker binaries
  Dockerfile
Labels: area/testing

#2339 ci: enable multi-platform lint only for upstream repo
  .github/workflows/validate.yml
Labels: area/ci, needs-cherry-pick/v0.13
