Repository docker/buildx, pull requests merged in 2024-08, with the labels that each got.

#2636 docs: fix metadata section for build command
  docs/reference/buildx_build.md
Labels: area/docs

#2621 Dockerfile: update to docker 27.1.1
  Dockerfile
Labels: needs-cherry-pick/v0.15

#2615 bake: use shared session for local sources for multiple targets
  build/build.go
Labels: area/build, area/tests

#2606 builder: move kube config handling to k8s driver package
  builder/node.go
  driver/kubernetes/driver.go
  driver/kubernetes/factory.go
  driver/kubernetes/factory_test.go
  driver/manager.go
  driver/remote/factory.go
Labels: area/driver/kubernetes, area/driver/remote, area/driver, status/needs-follow-up, area/builder, area/tests

#2640 support metadata file with call flag for build and bake commands
  commands/bake.go
  commands/build.go
  tests/bake.go
  tests/build.go
Labels: area/cli, area/tests

#2642 vendor: update compose-go to v2.1.6
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/develop.go
  vendor/modules.txt
Labels: area/dependencies

#2610 metrics: add metrics for bake command
  commands/bake.go
  commands/build.go
Labels: area/cli, status/needs-follow-up, area/checks

#2643 hack: ensure SARIF output has results field defined for govulncheck
  hack/dockerfiles/govulncheck.Dockerfile
Labels: area/hack

#2650 build: skip build ref and provenance metadata for subrequests
  build/build.go
  tests/bake.go
  tests/build.go
Labels: area/build, area/tests

#2649 bake: add basename, dirname and sanitize functions
  bake/hclparser/stdlib.go
  bake/hclparser/stdlib_test.go
Labels: area/bake, area/tests

#2654 chore: rename PrintFunc to CallFunc
  bake/bake.go
  build/build.go
  build/opt.go
  commands/bake.go
  commands/build.go
  controller/build/build.go
  controller/pb/controller.pb.go
  controller/pb/controller.proto
  util/buildflags/callfunc.go
Labels: area/bake, area/build, area/cli, area/controller

#2651 build: when building multiple targets include name in error
  build/build.go
Labels: area/build

#2659 docs: use gh alert syntax for callouts
  README.md
  docs/bake-reference.md
  docs/debugging.md
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_create.md
  docs/reference/buildx_imagetools_create.md
  docs/reference/buildx_inspect.md
Labels: area/project, area/docs

#2656 build: allow builds from stdin for multi-node builders
  build/build.go
  build/opt.go
  build/replicatedstream.go
  build/replicatedstream_test.go
  controller/build/build.go
Labels: area/build, status/needs-follow-up, area/controller, area/tests

#2660 commands: add debug as persistent flag
  commands/root.go
  docs/reference/buildx.md
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_create.md
  docs/reference/buildx_debug.md
  docs/reference/buildx_debug_build.md
  docs/reference/buildx_dial-stdio.md
  docs/reference/buildx_du.md
  docs/reference/buildx_imagetools.md
  docs/reference/buildx_imagetools_create.md
  docs/reference/buildx_imagetools_inspect.md
  docs/reference/buildx_inspect.md
  docs/reference/buildx_ls.md
  docs/reference/buildx_prune.md
  docs/reference/buildx_rm.md
  docs/reference/buildx_stop.md
  docs/reference/buildx_use.md
  docs/reference/buildx_version.md
Labels: area/cli, area/docs

#2663 build: avoid possible panic when reading git info
  build/git.go
Labels: area/build
