Repository docker/buildx, pull requests merged in 2024-02, with the labels that each got.

#2230 fix: avoid modifying source during resolver.Copy
  util/imagetools/create.go
Labels: needs-cherry-pick/v0.12

#2237 bake: fix definitions merge order
  commands/bake.go
  tests/bake.go
Labels: needs/follow-up, needs-cherry-pick/v0.12

#2243 ci: bump codecov/codecov-action to 4
  .github/workflows/build.yml
Labels: area/ci

#2246 vendor: github.com/containerd/console v1.0.4
  go.mod
  go.sum
  vendor/modules.txt
Labels: needs-cherry-pick/v0.12

#1271 docker-container: restart-policy opt
  driver/docker-container/driver.go
  driver/docker-container/factory.go
  tests/create.go
Labels: area/driver/docker-container, needs/docs-follow-up

#2252 don't print build details when progress is rawjson
  commands/bake.go
  commands/build.go
Labels: needs-cherry-pick/v0.12

#2253 docs: use absolute links and update link targets
  commands/build.go
  docs/bake-reference.md
  docs/reference/buildx_build.md
  docs/reference/buildx_debug.md
  docs/reference/buildx_debug_build.md
  go.mod
  go.sum
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/github.com/docker/cli-docs-tool/markdown.go
  vendor/modules.txt
Labels: kind/docs, needs-cherry-pick/v0.12

#2276 ci: set codecov token
  .github/workflows/build.yml
Labels: area/ci

#2275 driver: docs to set buildkitd network mode and add tests
  docs/reference/buildx_create.md
  go.mod
  go.sum
  tests/build.go
  tests/inspect.go
  tests/integration.go
  vendor/github.com/moby/buildkit/util/appdefaults/appdefaults.go
  vendor/modules.txt
Labels: kind/docs, area/testing

#2266 driver: set network.host entitlement by default for container drivers
  builder/builder.go
  builder/builder_test.go
  driver/docker-container/factory.go
  tests/inspect.go
Labels: area/driver/kubernetes, area/driver/docker-container, impact/docs

#2279 test: build shm-size and ulimit
  tests/build.go
Labels: area/testing

#2285 vendor: github.com/serialx/hashring 22c0c7ab6b1b (master)
  go.mod
  go.sum
  vendor/github.com/serialx/hashring/.gitignore
  vendor/github.com/serialx/hashring/hash.go
  vendor/github.com/serialx/hashring/hashring.go
  vendor/github.com/serialx/hashring/key.go
  vendor/modules.txt
Labels: dependencies

#2283 vendor: update compose-go to v2.0.0-rc.8
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/loader/environment.go
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/full-example.yml
  vendor/github.com/compose-spec/compose-go/v2/loader/include.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/paths.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/override/merge.go
  vendor/github.com/compose-spec/compose-go/v2/override/uncity.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/template/template.go
  vendor/github.com/compose-spec/compose-go/v2/transform/build.go
  vendor/github.com/compose-spec/compose-go/v2/transform/defaults.go
  vendor/github.com/compose-spec/compose-go/v2/transform/ports.go
  vendor/github.com/compose-spec/compose-go/v2/transform/secrets.go
  vendor/github.com/compose-spec/compose-go/v2/types/develop.go
  vendor/github.com/compose-spec/compose-go/v2/types/hostList.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/services.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/utils/collectionutils.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/exp/slices/cmp.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortanyfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/tools/internal/versions/versions.go
  vendor/golang.org/x/tools/internal/versions/versions_go121.go
  vendor/modules.txt
Labels: dependencies

#2287 remote: use winio DialPipeContext for named pipes
  driver/remote/driver.go
  driver/remote/util/dialer_unix.go
  driver/remote/util/dialer_windows.go
  go.mod
Labels: area/windows, needs/follow-up
