Repository docker/buildx, pull requests merged in 2024-06, with the labels that each got.

#2496 dial-stdio: remove extra cmd.flags()
  commands/dial_stdio.go
Labels: status/code-review, area/cli

#2497 k8s: fix concurrent kubeconfig access when loading nodes
  driver/kubernetes/context/fixtures/k3s-kubeconfig
  driver/kubernetes/context/load.go
  driver/kubernetes/context/load_test.go
Labels: area/driver/kubernetes

#2500 docs: mention rawjson progress output mode
  commands/build.go
  commands/debug/root.go
  commands/dial_stdio.go
  commands/imagetools/create.go
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_debug.md
  docs/reference/buildx_debug_build.md
  docs/reference/buildx_dial-stdio.md
  docs/reference/buildx_imagetools_create.md
Labels: kind/enhancement, kind/docs

#2504 vendor: github.com/creack/pty v1.1.21
  go.mod
  go.sum
  vendor/github.com/creack/pty/.editorconfig
  vendor/github.com/creack/pty/.golangci.yml
  vendor/github.com/creack/pty/Dockerfile.golang
  vendor/github.com/creack/pty/Dockerfile.riscv
  vendor/github.com/creack/pty/ioctl.go
  vendor/github.com/creack/pty/ioctl_inner.go
  vendor/github.com/creack/pty/ioctl_legacy.go
  vendor/github.com/creack/pty/ioctl_solaris.go
  vendor/github.com/creack/pty/ioctl_unsupported.go
  vendor/github.com/creack/pty/pty_darwin.go
  vendor/github.com/creack/pty/pty_dragonfly.go
  vendor/github.com/creack/pty/pty_freebsd.go
  vendor/github.com/creack/pty/pty_linux.go
  vendor/github.com/creack/pty/pty_netbsd.go
  vendor/github.com/creack/pty/pty_openbsd.go
  vendor/github.com/creack/pty/pty_solaris.go
  vendor/github.com/creack/pty/test_crosscompile.sh
  vendor/github.com/creack/pty/winsize.go
  vendor/github.com/creack/pty/winsize_unix.go
  vendor/github.com/creack/pty/ztypes_freebsd_riscv64.go
  vendor/github.com/creack/pty/ztypes_ppc.go
  vendor/github.com/creack/pty/ztypes_sparcx.go
  vendor/modules.txt
Labels: dependencies, status/code-review, go

#2516 remove use of deprecated containerd/containerd/errdefs
  .golangci.yml
  go.mod
  util/imagetools/create.go
  vendor/github.com/containerd/containerd/errdefs/errdefs_deprecated.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.15

#2508 test: setup integration tests coverage
  .github/workflows/build.yml
  Dockerfile
  codecov.yml
  docker-bake.hcl
  hack/test
  tests/integration.go
Labels: status/code-review, area/testing

#2518 update the lint subrequest call to error
  commands/build.go
  tests/build.go
Labels: kind/bug

#2535 vendor: github.com/docker/docker-credential-helpers v0.8.2
  go.mod
  go.sum
  vendor/github.com/docker/docker-credential-helpers/client/client.go
  vendor/github.com/docker/docker-credential-helpers/credentials/error.go
  vendor/modules.txt
Labels: status/code-review

#2517 [v0.15 backport] remove use of deprecated containerd/containerd/errdefs
  .golangci.yml
  go.mod
  util/imagetools/create.go
  vendor/github.com/containerd/containerd/errdefs/errdefs_deprecated.go
  vendor/modules.txt
Labels: dependencies

#2537 vendor: update buildkit v0.14.1
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/frontend/subrequests/lint/lint.go
  vendor/modules.txt
Labels: needs-cherry-pick/v0.15

#2538 build: update lint fallback image to dockerfile 1.8.1
  build/build.go
Labels: needs-cherry-pick/v0.15

#2536 ci: add pr-labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: status/code-review, area/ci

#2547 bump compose-go to version v2.1.3
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/types/config.go
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/mitchellh/copystructure/LICENSE
  vendor/github.com/mitchellh/copystructure/README.md
  vendor/github.com/mitchellh/copystructure/copier_time.go
  vendor/github.com/mitchellh/copystructure/copystructure.go
  vendor/github.com/mitchellh/reflectwalk/.travis.yml
  vendor/github.com/mitchellh/reflectwalk/LICENSE
  vendor/github.com/mitchellh/reflectwalk/README.md
  vendor/github.com/mitchellh/reflectwalk/location.go
  vendor/github.com/mitchellh/reflectwalk/location_string.go
  vendor/github.com/mitchellh/reflectwalk/reflectwalk.go
  vendor/modules.txt
Labels: area/bake, area/bake/compose, area/dependencies

#2555 test: compose cgroup property
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

#2550 build: read provenance response mode in commands pkg
  build/build.go
  build/provenance.go
  commands/bake.go
  commands/build.go
  controller/build/build.go
  controller/pb/controller.pb.go
  controller/pb/controller.proto
  util/confutil/metadata.go
Labels: area/build, area/cli, area/controller

#2521 fix assignment of buildinfo-attrs for exporter
  build/opt.go
Labels: area/build, status/code-review

#2551 build: opt to set progress warnings in response
  .github/workflows/e2e.yml
  commands/bake.go
  commands/build.go
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  go.mod
  go.sum
  hack/test-driver
  tests/bake.go
  tests/build.go
  util/confutil/metadata.go
  util/progress/printer.go
  vendor/github.com/mitchellh/hashstructure/v2/LICENSE
  vendor/github.com/mitchellh/hashstructure/v2/README.md
  vendor/github.com/mitchellh/hashstructure/v2/errors.go
  vendor/github.com/mitchellh/hashstructure/v2/hashstructure.go
  vendor/github.com/mitchellh/hashstructure/v2/include.go
  vendor/modules.txt
Labels: area/build, area/cli, needs/docs-follow-up, area/ci, area/controller, area/hack, area/docs, area/dependencies, area/tests

#2557 dockerfile, gha: update buildkit to 0.13.2, 0.14.1
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2522 Make multi-type annotation settings match docs
  util/buildflags/export.go
  util/buildflags/export_test.go
Labels: status/code-review

#2558 build: fix sharedkey computation for local context
  build/opt.go
Labels: area/build

#2559 use csvvalue package for parsing csv inputs
  bake/bake.go
  builder/builder.go
  commands/build.go
  go.mod
  go.sum
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/export.go
  util/buildflags/printfunc.go
  util/buildflags/secrets.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/linter/linter.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy_unix.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy_windows.go
  vendor/modules.txt
Labels: area/bake, area/cli, area/builder, area/dependencies

#2549 Add message when --check does not produce warnings or errors
  commands/build.go
Labels: kind/enhancement, area/cli

#2546 Pass in index annotations from builds on multiple nodes
  build/build.go
  commands/imagetools/create.go
  controller/build/build.go
  util/imagetools/create.go
Labels: area/build, area/cli, area/controller

#2560 build: fix localstate for remote context and stdin
  build/localstate.go
  localstate/localstate.go
  tests/build.go
  tests/integration.go
Labels: area/build, area/tests
