Repository docker/buildx, pull requests merged in 2024-10, with the labels that each got.

#2138 ls: no-trunc opt
  commands/ls.go
  commands/ls_test.go
  docs/reference/buildx_ls.md
Labels: area/cli, area/docs, area/tests

#2716 build: raise maximum size limit for dockerfile and fix size check
  build/url.go
Labels: area/build

#2719 bake: raise maximum size limit and fix size check
  bake/remote.go
Labels: area/bake

#2717 ls: ensure deterministic output for truncated platforms
  commands/ls.go
Labels: area/cli

#2728 gha: set default permissions to "contents: read"
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-release.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/validate.yml
Labels: area/ci

#2729 touch-up security policy
  .github/SECURITY.md
Labels: area/project

#2740 docs: clarify options for secret types (file, env)
  docs/reference/buildx_build.md
Labels: area/docs

#2741 cli: error out on unknown command
  commands/imagetools/root.go
  commands/root.go
  tests/common.go
  tests/integration_test.go
Labels: area/cli, area/tests

#2745 config: fix file/folder ownership
  build/build.go
  build/localstate.go
  build/opt.go
  builder/builder.go
  commands/bake.go
  commands/build.go
  controller/build/build.go
  controller/remote/controller.go
  go.mod
  go.sum
  localstate/localstate.go
  localstate/localstate_test.go
  store/store.go
  store/store_test.go
  store/storeutil/storeutil.go
  tests/build.go
  util/confutil/config.go
  util/confutil/config_unix.go
  util/confutil/config_unix_test.go
  util/confutil/config_windows.go
  util/confutil/node.go
  vendor/github.com/tonistiigi/dchapes-mode/.hgignore
  vendor/github.com/tonistiigi/dchapes-mode/Dockerfile
  vendor/github.com/tonistiigi/dchapes-mode/LICENSE
  vendor/github.com/tonistiigi/dchapes-mode/README.md
  vendor/github.com/tonistiigi/dchapes-mode/bits.go
  vendor/github.com/tonistiigi/dchapes-mode/docker-bake.hcl
  vendor/github.com/tonistiigi/dchapes-mode/mode.go
  vendor/github.com/tonistiigi/fsutil/copy/copy.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_darwin.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_freebsd.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_linux.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_nowindows.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/copy_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/hardlink_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir_unix.go
  vendor/github.com/tonistiigi/fsutil/copy/mkdir_windows.go
  vendor/github.com/tonistiigi/fsutil/copy/stat_bsd.go
  vendor/github.com/tonistiigi/fsutil/copy/stat_sysv.go
  vendor/modules.txt
Labels: area/build, area/cli, area/controller, area/builder, area/dependencies, area/tests

#2746 pprof: take cpu and memory profiles by setting environment variables
  cmd/buildx/debug.go
  cmd/buildx/main.go
Labels: area/cli, needs/docs-follow-up

#2754 build: don't generate local state for subrequests
  build/localstate.go
  commands/bake.go
Labels: area/build, area/cli

#2722 build: fix build details link in experimental mode
  cmd/buildx/main.go
  controller/errdefs/build.go
  controller/errdefs/errdefs.pb.go
  controller/errdefs/errdefs.proto
  controller/errdefs/errdefs_vtproto.pb.go
  controller/local/controller.go
  controller/pb/controller.pb.go
  controller/pb/controller.proto
  controller/pb/controller_vtproto.pb.go
  controller/remote/client.go
  controller/remote/io.go
  controller/remote/server.go
  tests/build.go
  util/desktop/desktop.go
Labels: area/cli, status/needs-follow-up, area/controller, area/tests

#2742 build: add OTEL span around build function
  build/build.go
Labels: area/build

#2760 vendor: update compose to v2.4.1
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/format.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/godotenv.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/parser.go
  vendor/github.com/compose-spec/compose-go/v2/format/volume.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/normalize.go
  vendor/github.com/compose-spec/compose-go/v2/loader/omitEmpty.go
  vendor/github.com/compose-spec/compose-go/v2/loader/reset.go
  vendor/github.com/compose-spec/compose-go/v2/override/merge.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/github.com/compose-spec/compose-go/v2/transform/defaults.go
  vendor/github.com/compose-spec/compose-go/v2/transform/devices.go
  vendor/github.com/compose-spec/compose-go/v2/types/cpus.go
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/device.go
  vendor/github.com/compose-spec/compose-go/v2/types/envfile.go
  vendor/github.com/compose-spec/compose-go/v2/types/hooks.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/validation/validation.go
  vendor/modules.txt
Labels: area/dependencies

#2761 ci: fix workflow permissions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-release.yml
  .github/workflows/labeler.yml
Labels: area/ci

#2763 Skip Builder Init For Bake List Flags
  commands/bake.go
Labels: area/cli

#2765 ci: keep contents read permissions in jobs
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
Labels: area/ci

#2766 prune: detect if buildkit supports newer storage filters
  commands/prune.go
Labels: area/cli

#2767 vendor: update buildkit to v0.17.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#2757 docs: add dev instructions on generating/analyzing pprof samples
  .github/CONTRIBUTING.md
Labels: area/project
