Repository docker/buildx, pull requests merged in 2024-09, with the labels that each got.

#2652 docs: update links to moved manuals pages
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_create.md
Labels: area/docs

#2653 [v0.16 backport] docs: update links to moved manuals pages
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_create.md
Labels: area/docs

#2647 build: print out the number of warnings after completing a rule check
  commands/build.go
  tests/bake.go
  tests/build.go
Labels: area/cli, area/tests

#2666 bake: enable support for entitlements
  bake/bake.go
  bake/bake_test.go
  bake/entitlements.go
  commands/bake.go
  docs/reference/buildx_bake.md
  util/progress/printer.go
Labels: area/bake, area/cli, area/docs, area/tests

#2673 vendor: update buildkit to v0.16.0-rc1
  commands/build.go
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/pkg/userns/userns_linux.go
  vendor/github.com/containerd/containerd/pkg/userns/userns_unsupported.go
  vendor/github.com/containerd/typeurl/v2/README.md
  vendor/github.com/containerd/typeurl/v2/types.go
  vendor/github.com/docker/cli/cli-plugins/socket/socket.go
  vendor/github.com/docker/cli/cli/command/formatter/container.go
  vendor/github.com/docker/cli/cli/command/registry.go
  vendor/github.com/docker/cli/cli/command/utils.go
  vendor/github.com/docker/cli/cli/connhelper/connhelper.go
  vendor/github.com/docker/cli/cli/required.go
  vendor/github.com/docker/cli/opts/throttledevice.go
  vendor/github.com/docker/docker/api/common.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/image/manifest.go
  vendor/github.com/docker/docker/api/types/image/opts.go
  vendor/github.com/docker/docker/api/types/image/summary.go
  vendor/github.com/docker/docker/api/types/registry/authconfig.go
  vendor/github.com/docker/docker/client/image_list.go
  vendor/github.com/docker/docker/pkg/archive/archive_linux.go
  vendor/github.com/moby/buildkit/client/llb/exec.go
  vendor/github.com/moby/buildkit/errdefs/errdefs.go
  vendor/github.com/moby/buildkit/errdefs/internal.go
  vendor/github.com/moby/buildkit/errdefs/internal_linux.go
  vendor/github.com/moby/buildkit/errdefs/internal_nolinux.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/linter/linter.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/linter/ruleset.go
  vendor/github.com/moby/buildkit/frontend/dockerfile/shell/lex.go
  vendor/github.com/moby/buildkit/frontend/dockerui/config.go
  vendor/github.com/moby/buildkit/frontend/dockerui/requests.go
  vendor/github.com/moby/buildkit/frontend/subrequests/lint/lint.go
  vendor/github.com/moby/buildkit/session/secrets/secretsprovider/secretsprovider.go
  vendor/github.com/moby/buildkit/session/upload/uploadprovider/provider.go
  vendor/github.com/moby/buildkit/util/appcontext/appcontext.go
  vendor/github.com/moby/buildkit/util/appdefaults/appdefaults_linux.go
  vendor/github.com/moby/buildkit/util/appdefaults/appdefaults_unix.go
  vendor/github.com/moby/buildkit/util/appdefaults/appdefaults_unix_nolinux.go
  vendor/github.com/moby/buildkit/util/grpcerrors/grpcerrors.go
  vendor/github.com/moby/buildkit/util/resolver/retryhandler/retry.go
  vendor/github.com/moby/buildkit/util/stack/compress.go
  vendor/github.com/moby/buildkit/util/stack/stack.go
  vendor/github.com/moby/buildkit/util/testutil/integration/run.go
  vendor/github.com/moby/buildkit/util/testutil/integration/sandbox.go
  vendor/github.com/moby/buildkit/util/testutil/integration/util_windows.go
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/userns/LICENSE
  vendor/github.com/moby/sys/userns/userns.go
  vendor/github.com/moby/sys/userns/userns_linux.go
  vendor/github.com/moby/sys/userns/userns_linux_fuzzer.go
  vendor/github.com/moby/sys/userns/userns_unsupported.go
  vendor/modules.txt
Labels: area/cli, area/dependencies

#2671 bake: add network mode support to HCL and docs for network and entitlements
  bake/bake.go
  bake/bake_test.go
  docs/bake-reference.md
Labels: area/bake, area/docs, area/tests

#2674 chore: update AUTHORS and mailmap
  .mailmap
  AUTHORS
  hack/dockerfiles/authors.Dockerfile
Labels: area/hack, area/project

#2675 docs: update run mount secrets examples using env
  docs/bake-reference.md
  docs/reference/buildx_build.md
Labels: area/docs

#2619 docs: add project processing guide
  PROJECT.md
Labels: area/project

#2678 Update PROJECT mermaid daigrams
  PROJECT.md
Labels: area/project

#2680 vendor: update buildkit to v0.16.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/command/registry.go
  vendor/github.com/docker/cli/cli/connhelper/connhelper.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/hostconfig.go
  vendor/modules.txt
Labels: area/dependencies

#2681 [v0.17 backport] vendor: update buildkit to v0.16.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/command/registry.go
  vendor/github.com/docker/cli/cli/connhelper/connhelper.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/api/types/container/hostconfig.go
  vendor/modules.txt
Labels: area/dependencies

#2689 bake: fix missing omitempty and optional tags for network field
  bake/bake.go
  tests/bake.go
Labels: kind/bug, area/bake, area/tests

#2685 builder: do not set network.host entitlement flag if already set in buildkitd conf
  builder/builder.go
  builder/builder_test.go
  util/confutil/config.go
  util/confutil/container.go
Labels: area/builder, area/tests

#2686 dockerfile, ci: update buildkit to latest stable
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2684 inspect: display buildkit daemon configuration file
  commands/inspect.go
  tests/inspect.go
Labels: area/cli, area/tests

#2691 ci: fix golvulncheck job permissions
  .github/workflows/build.yml
Labels: area/ci

#2692 bump compose-go to v2.2.0
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/parser.go
  vendor/github.com/compose-spec/compose-go/v2/loader/environment.go
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/full-example.yml
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/override/uncity.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/github.com/compose-spec/compose-go/v2/transform/device.go
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/hostList.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/modules.txt
Labels: area/dependencies

#2690 [v0.17] cherry-picks for v0.17.1
  .github/workflows/build.yml
  bake/bake.go
  builder/builder.go
  builder/builder_test.go
  tests/bake.go
  util/confutil/config.go
  util/confutil/container.go
Labels: area/bake, area/ci, area/builder, area/tests

#2698 [v0.17] update docker/cli to 48a2cdff97
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/command/telemetry_docker.go
  vendor/modules.txt
Labels: area/dependencies

#2700 bake: fix validation for linking to itself
  bake/bake.go
Labels: kind/bug, area/bake

#2696 test: fix missing envs when cleaning up some workers
  tests/workers/docker-container.go
  tests/workers/remote.go
Labels: area/tests

#2672 build: display Dockerfile path on check warnings
  build/build.go
  build/opt.go
  commands/bake.go
  commands/build.go
  controller/build/build.go
  controller/control/controller.go
  controller/local/controller.go
  controller/remote/client.go
  controller/remote/controller.go
  controller/remote/server.go
  monitor/commands/reload.go
  monitor/monitor.go
  tests/bake.go
  tests/build.go
Labels: area/build, area/cli, status/needs-follow-up, area/controller, area/tests

#2705 build: use better references for --call fallback images
  build/build.go
Labels: area/build

#2701 bake: fix linking to targets with entitlements
  bake/bake.go
Labels: area/bake
