Repository docker/buildx, pull requests merged in 2024-07, with the labels that each got.

#2534 bake: print warnings on progress
  commands/bake.go
Labels: area/bake, area/cli

#2397 docs: make buildx build the canonical doc
  commands/build.go
  docs/reference/buildx_build.md
  docs/reference/buildx_debug_build.md
Labels: kind/enhancement, impact/docs, area/cli, needs/moby-cli, area/docs

#2501 remote: ensure that client connection is not established twice
  driver/remote/driver.go
Labels: kind/enhancement, area/driver/remote

#2568 update Go to 1.22
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/ci, area/hack

#2565 cli docs tool v0.8.0
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_create.md
  docs/reference/buildx_debug_build.md
  docs/reference/buildx_du.md
  docs/reference/buildx_imagetools_create.md
  docs/reference/buildx_imagetools_inspect.md
  docs/reference/buildx_inspect.md
  docs/reference/buildx_prune.md
  docs/reference/buildx_rm.md
  docs/reference/buildx_use.md
  go.mod
  go.sum
  vendor/github.com/cpuguy83/go-md2man/v2/LICENSE.md
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/md2man.go
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/github.com/docker/cli-docs-tool/clidocstool.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_man.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_yaml.go
  vendor/github.com/russross/blackfriday/v2/.gitignore
  vendor/github.com/russross/blackfriday/v2/.travis.yml
  vendor/github.com/russross/blackfriday/v2/LICENSE.txt
  vendor/github.com/russross/blackfriday/v2/README.md
  vendor/github.com/russross/blackfriday/v2/block.go
  vendor/github.com/russross/blackfriday/v2/doc.go
  vendor/github.com/russross/blackfriday/v2/entities.go
  vendor/github.com/russross/blackfriday/v2/esc.go
  vendor/github.com/russross/blackfriday/v2/html.go
  vendor/github.com/russross/blackfriday/v2/inline.go
  vendor/github.com/russross/blackfriday/v2/markdown.go
  vendor/github.com/russross/blackfriday/v2/node.go
  vendor/github.com/russross/blackfriday/v2/smartypants.go
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/rest_docs.go
  vendor/github.com/spf13/cobra/doc/util.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
  vendor/modules.txt
Labels: area/docs, area/dependencies

#2572 build: set same ref when building on multiple nodes
  build/build.go
  build/opt.go
Labels: area/build

#2574 dockerfile: update go-mod-outdated to v0.9.0
  hack/dockerfiles/vendor.Dockerfile
Labels: area/hack

#2562 docs: reference description for --call and --check
  docs/reference/buildx_build.md
Labels: area/docs

#2556 bake: add call methods support and printing
  bake/bake.go
  bake/bake_test.go
  bake/hcl_test.go
  bake/hclparser/hclparser.go
  bake/hclparser/merged.go
  commands/bake.go
  commands/build.go
  docs/reference/buildx_bake.md
  tests/bake.go
  util/progress/printer.go
Labels: area/bake, area/cli, needs/docs-follow-up, area/docs, area/tests

#2576 docs: link to build ref page for --call and --check ref with bake
  docs/reference/buildx_bake.md
Labels: area/docs

#2579 bake: use compose project name from env if set
  bake/compose.go
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

#2583 bake: use cacheonly exporter for implicit targets
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

#2584 bake: fix testing json formatted output
  tests/bake.go
Labels: area/tests

#2578 driver: allow arbitrary client opts
  builder/node.go
  driver/manager.go
Labels: area/driver, area/builder

#2588 vendor: update buildkit to v0.15.0-rc2
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/frontend/dockerfile/linter/ruleset.go
  vendor/github.com/moby/buildkit/frontend/dockerui/config.go
  vendor/github.com/moby/buildkit/util/testutil/integration/run.go
  vendor/github.com/tonistiigi/go-csvvalue/csvvalue.go
  vendor/modules.txt
Labels: area/dependencies

#2589 vendor: update buildkit to v0.15.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#2590 [v0.16] vendor: update buildkit to v0.15.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#2592 vendor: update docker/distribution to v2.8.3
  go.mod
  go.sum
  vendor/github.com/docker/distribution/.golangci.yml
  vendor/github.com/docker/distribution/.mailmap
  vendor/github.com/docker/distribution/BUILDING.md
  vendor/github.com/docker/distribution/Dockerfile
  vendor/github.com/docker/distribution/Makefile
  vendor/github.com/docker/distribution/blobs.go
  vendor/github.com/docker/distribution/digestset/set.go
  vendor/github.com/docker/distribution/reference/helpers.go
  vendor/github.com/docker/distribution/reference/normalize.go
  vendor/github.com/docker/distribution/reference/reference.go
  vendor/github.com/docker/distribution/reference/regexp.go
  vendor/github.com/docker/distribution/registry.go
  vendor/github.com/docker/distribution/registry/api/v2/descriptors.go
  vendor/github.com/docker/distribution/registry/api/v2/urls.go
  vendor/github.com/docker/distribution/registry/client/blob_writer.go
  vendor/github.com/docker/distribution/registry/client/errors.go
  vendor/github.com/docker/distribution/registry/client/repository.go
  vendor/github.com/docker/distribution/registry/storage/cache/memory/memory.go
  vendor/github.com/docker/distribution/vendor.conf
  vendor/modules.txt
Labels: area/dependencies

#2594 fix issues in .golangci.yml and add validation check
  .golangci.yml
  docker-bake.hcl
  hack/dockerfiles/lint.Dockerfile
Labels: area/hack

#2609 bump compose-go to v2.1.4
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/loader/environment.go
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/include.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/normalize.go
  vendor/github.com/compose-spec/compose-go/v2/paths/resolve.go
  vendor/github.com/compose-spec/compose-go/v2/paths/unix.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/schema/using-variables.yaml
  vendor/github.com/compose-spec/compose-go/v2/transform/defaults.go
  vendor/github.com/compose-spec/compose-go/v2/transform/ports.go
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/utils/pathutils.go
  vendor/github.com/compose-spec/compose-go/v2/utils/stringutils.go
  vendor/modules.txt
Labels: area/dependencies

#2603 bake: check printer before printing warnings
  commands/bake.go
  tests/bake.go
  tests/integration.go
Labels: area/cli, status/needs-follow-up, area/tests

#2612 update warning message
  commands/build.go
Labels: area/cli

#2604 [v0.16] cherry-picks for v0.16.1
  commands/bake.go
  commands/build.go
  tests/bake.go
  tests/integration.go
Labels: area/cli, area/tests

#2616 chore: update dependabot labels
  .github/dependabot.yml
Labels: area/project

#2625 Bump compose-go v2.1.5
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/include.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/override/merge.go
  vendor/github.com/compose-spec/compose-go/v2/paths/resolve.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/modules.txt
Labels: area/bake/compose, area/dependencies

#2600 build: don't force default configuration
  controller/build/build.go
Labels: area/controller

#2607 build: refactor setting git info to local mounts
  build/build.go
  build/git.go
  build/git_test.go
  build/opt.go
Labels: area/build, area/tests

#2601 Improvements based on inittrace
  bake/hclparser/hclparser.go
  bake/hclparser/stdlib.go
  bake/hclparser/stdlib_test.go
  build/build.go
  build/opt.go
  controller/remote/io.go
  driver/docker/driver.go
  driver/driver.go
  driver/kubernetes/manifest/manifest.go
  driver/remote/util/dialer_unix.go
  driver/remote/util/dialer_windows.go
  driver/remote/util/endpoint.go
  driver/remote/util/endpoint_test.go
Labels: area/driver/kubernetes, area/bake, area/driver/remote, area/driver/docker, area/driver, area/build, area/controller, area/tests

#2599 vendor: update indirect dependencies for docker/cli
  go.mod
  go.sum
  vendor/github.com/gorilla/mux/.editorconfig
  vendor/github.com/gorilla/mux/.gitignore
  vendor/github.com/gorilla/mux/AUTHORS
  vendor/github.com/gorilla/mux/LICENSE
  vendor/github.com/gorilla/mux/Makefile
  vendor/github.com/gorilla/mux/README.md
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/google.golang.org/appengine/internal/api.go
  vendor/google.golang.org/appengine/internal/api_classic.go
  vendor/google.golang.org/appengine/internal/api_common.go
  vendor/google.golang.org/appengine/internal/identity.go
  vendor/google.golang.org/appengine/internal/identity_classic.go
  vendor/google.golang.org/appengine/internal/identity_flex.go
  vendor/google.golang.org/appengine/internal/identity_vm.go
  vendor/google.golang.org/appengine/internal/main.go
  vendor/google.golang.org/appengine/internal/main_vm.go
  vendor/google.golang.org/appengine/internal/transaction.go
  vendor/google.golang.org/appengine/urlfetch/urlfetch.go
  vendor/modules.txt
Labels: area/dependencies

#2608 bake: fix printer handling
  commands/bake.go
Labels: area/cli, area/tests

#2624 ci: scan bin image with docker scout
  .github/workflows/build.yml
Labels: area/ci

#2629 vendor: update buildkit to v0.15.1
  go.mod
  go.sum
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_unix_fcntl.go
  vendor/github.com/gofrs/flock/flock_windows.go
  vendor/golang.org/x/sys/unix/mremap.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: area/dependencies, needs-cherry-pick/v0.16

#2630 [v0.16] cherry-picks for v0.16.2
  go.mod
  go.sum
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_unix_fcntl.go
  vendor/github.com/gofrs/flock/flock_windows.go
  vendor/golang.org/x/sys/unix/mremap.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: area/dependencies

#2620 tests: build multiplatform
  tests/bake.go
  tests/build.go
Labels: area/tests

#2628 ci: checkout step for scout job
  .github/workflows/build.yml
Labels: area/ci

#2631 govulncheck to report known vulnerabilities
  .github/workflows/build.yml
  docker-bake.hcl
  hack/dockerfiles/govulncheck.Dockerfile
Labels: area/ci, area/hack

#2635 ci: sync labels when files are reverted or no longer changed with labeler
  .github/workflows/labeler.yml
Labels: area/ci
