Repository docker/buildx, pull requests merged in 2024-04, with the labels that each got.

#2377 tests: build from stdin
  tests/build.go
Labels: area/testing

#2381 tests: build secret
  tests/build.go
Labels: area/testing

#2363 bake: git auth support for remote definitions
  bake/remote.go
  tests/bake.go
  util/gitutil/testutilserve.go
Labels: area/bake, needs/docs-follow-up

#2376 tests: test with buildx experimental
  .github/workflows/build.yml
  hack/test
  tests/build.go
  tests/integration.go
Labels: area/testing

#2370 driver: add ephemeral-storage options to kuberentes-driver
  driver/kubernetes/factory.go
  driver/kubernetes/manifest/manifest.go
Labels: area/driver/kubernetes

#2378 docs: add cross-reference about build secrets
  docs/reference/buildx_build.md
Labels: kind/docs

#2393 go.mod: move indirect deps to the right require block
  go.mod
Labels: needs/follow-up

#2322 tests: matrix with buildkit versions
  .github/workflows/build.yml
  Dockerfile
  docker-bake.hcl
  hack/test
  tests/bake.go
  tests/build.go
  tests/dialstdio.go
  tests/integration.go
  tests/integration_test.go
Labels: area/testing

#2384 bake: add `indexof` hcl func
  bake/hcl_test.go
  bake/hclparser/stdlib.go
  bake/hclparser/stdlib_test.go
Labels: area/bake

#2401 ci: switch to reusable workflow to install k3s
  .github/workflows/e2e.yml
Labels: area/ci

#2416 build: mark information requests as internal
  build/build.go
  build/opt.go
Labels: needs/follow-up

#2423 test: build print
  tests/build.go
Labels: area/testing

#2421 build: avoid default load with --print
  build/opt.go
Labels: needs-cherry-pick/v0.14

#2422 build: don't generate metadata file when print flag is used
  commands/build.go
Labels: needs-cherry-pick/v0.14
