Repository docker/buildx, pull requests merged in 2024-12, with the labels that each got.

#2838 update buildkit used for tests
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2834 bake: fix entitlements path checks for local outputs
  bake/bake.go
  bake/bake_test.go
  bake/entitlements.go
  bake/entitlements_test.go
  build/build.go
  commands/bake.go
  controller/build/build.go
  controller/pb/export.go
Labels: area/bake, area/build, area/cli, needs/docs-follow-up, area/controller, area/tests

#2846 [v0.19] v0.19.2 cherry-picks
  bake/bake.go
  bake/bake_test.go
  bake/entitlements.go
  bake/entitlements_test.go
  build/build.go
  commands/bake.go
  controller/build/build.go
  controller/pb/export.go
Labels: area/bake, area/build, area/cli, area/controller, area/tests

#2851 dockerfiles: pin alpine version
  Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/hack

#2861 [v0.19] bake: remove empty values set by --set
  bake/bake_test.go
  util/buildflags/cache.go
  util/buildflags/export.go
  util/buildflags/secrets.go
  util/buildflags/ssh.go
Labels: area/bake, area/tests

#2865 update test BuildKit to v0.18.2
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2860 bake: change evaluation of entitlement paths
  bake/entitlements.go
  bake/entitlements_test.go
  tests/bake.go
Labels: area/bake, area/tests, needs-cherry-pick/v0.19

#2847 vendor: github.com/docker/docker, github.com/docker/cli v27.4.0
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli-plugins/manager/manager.go
  vendor/github.com/docker/cli/cli/trust/trust.go
  vendor/github.com/docker/docker/registry/types.go
  vendor/modules.txt
Labels: area/dependencies, dependencies

#2867 [v0.19 backport] bake: change evaluation of entitlement paths
  bake/entitlements.go
  bake/entitlements_test.go
  tests/bake.go
Labels: area/bake, area/tests

#2814 bake: various fixes for composable attributes
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/hcl_test.go
  bake/hclparser/type_implied_ext.go
  tests/bake.go
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
  util/buildflags/context.go
  util/buildflags/cty.go
  util/buildflags/entitlements.go
  util/buildflags/export.go
  util/buildflags/export_cty.go
  util/buildflags/secrets.go
  util/buildflags/secrets_cty.go
  util/buildflags/ssh.go
  util/buildflags/ssh_cty.go
  util/buildflags/utils.go
Labels: area/bake, area/bake/compose, area/tests

#2871 bake: test empty override
  bake/bake_test.go
Labels: area/bake, area/tests

#2848 bake: implement composable attributes for attestations
  bake/bake.go
  bake/bake_test.go
  bake/hcl_test.go
  util/buildflags/attests.go
  util/buildflags/attests_cty.go
Labels: area/bake, status/needs-follow-up, area/tests
