Repository docker/buildx, pull requests merged in 2025-08, with the labels that each got.

#3347 bake: fix dockerfile default if empty
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

#3351 bake: add homedir func
  bake/hclparser/stdlib.go
  bake/hclparser/stdlib_test.go
  docs/bake-stdlib.md
Labels: area/bake, area/docs, area/tests

#3346 docs: missing call as override field
  docs/reference/buildx_bake.md
Labels: area/docs

#3301 ci(validate): use matrix subaction
  .github/workflows/validate.yml
Labels: area/ci

#3385 Add BUILDKIT_SYNTAX option handling
  build/opt.go
Labels: area/build

#3386 restore junctions to have os.ModeSymlink flag set on Windows
  go.mod
Labels: area/dependencies

#3384 build: fail early if trying to export index annotations with moby exporter
  bake/bake.go
  build/build.go
  build/opt.go
  commands/build.go
  tests/build.go
Labels: area/bake, area/build, area/cli, area/tests

#3375 docs: update dap docs to reflect updates to the debugger
  docs/dap.md
  docs/reference/buildx_dap_build.md
Labels: area/docs

#3394 commands: verify that DisableFlagsInUseLine is set for all commands
  commands/bake.go
  commands/build.go
  commands/create.go
  commands/dap.go
  commands/debug.go
  commands/dial_stdio.go
  commands/diskusage.go
  commands/history/export.go
  commands/history/import.go
  commands/history/inspect.go
  commands/history/inspect_attachment.go
  commands/history/logs.go
  commands/history/ls.go
  commands/history/open.go
  commands/history/rm.go
  commands/history/root.go
  commands/history/trace.go
  commands/imagetools/create.go
  commands/imagetools/inspect.go
  commands/imagetools/root.go
  commands/inspect.go
  commands/install.go
  commands/ls.go
  commands/prune.go
  commands/rm.go
  commands/root.go
  commands/root_test.go
  commands/stop.go
  commands/uninstall.go
  commands/use.go
  commands/version.go
Labels: area/cli, area/tests, area/history

#3392 docs: list available filters for du and prune commands
  commands/prune.go
  docs/reference/buildx_du.md
  docs/reference/buildx_prune.md
Labels: area/cli, area/docs, status/needs-cherry-pick/v0.28
