Repository docker/buildx, pull requests merged in 2025-06, with the labels that each got.

#3207 Show types during variable list operation
  bake/hclparser/hclparser.go
  commands/bake.go
  docs/reference/buildx_bake.md
  tests/bake.go
Labels: area/bake, area/cli, area/docs, area/tests

#3220 monitor: move remaining controller functionality into monitor
  build/build.go
  commands/build.go
  commands/debug/root.go
  controller/build/build.go
  controller/local/controller.go
  controller/pb/invoke.go
  monitor/monitor.go
Labels: area/build, area/cli, area/controller

#3214 cmd: custom exit codes for internal, resource and canceled errors
  cmd/buildx/main.go
Labels: area/cli

#3222 controller: remove remaining parts of the controller
  .github/labeler.yml
  PROJECT.md
  bake/bake.go
  bake/entitlements_test.go
  bake/remote.go
  build/build.go
  build/invoke.go
  build/opt.go
  build/opt_test.go
  build/result.go
  commands/bake.go
  commands/build.go
  controller/build/build.go
  controller/build/options.go
  controller/build/options_test.go
  controller/errdefs/build.go
  controller/pb/attest.go
  controller/pb/cache.go
  controller/pb/export.go
  controller/pb/invoke.go
  controller/pb/secrets.go
  controller/pb/ssh.go
  controller/pb/ulimit.go
  docs/debugging.md
  monitor/commands/exec.go
  monitor/commands/rollback.go
  monitor/monitor.go
  monitor/processes/processes.go
  monitor/types/types.go
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/cache_test.go
  util/buildflags/callfunc.go
  util/buildflags/export.go
  util/buildflags/secrets.go
  util/buildflags/ssh.go
Labels: area/bake, area/build, area/cli, area/controller, area/project, area/docs, area/tests

#3227 bake: hcl merged tests
  bake/hclparser/merged.go
  bake/hclparser/merged_test.go
Labels: area/bake, area/tests

#3226 docs: restructure examples for context
  docs/reference/buildx_build.md
Labels: area/docs

#3228 lint: fix linter error on arm64
  hack/dockerfiles/lint.Dockerfile
Labels: area/hack

#3234 bake: extra-hosts support
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/compose_test.go
  docs/bake-reference.md
  docs/reference/buildx_bake.md
  tests/bake.go
Labels: area/bake, area/bake/compose, area/docs, area/tests

#3240 commands: remove debug package in commands
  commands/build.go
  commands/debug.go
  commands/debug/root.go
  commands/root.go
  docs/reference/buildx_debug.md
Labels: area/cli, area/docs

#3183 hack: modernize-fix bake target
  docker-bake.hcl
  hack/dockerfiles/lint.Dockerfile
Labels: area/hack

#3244 bake: multi ips support for extra hosts
  bake/compose.go
  bake/compose_test.go
  build/utils.go
  build/utils_test.go
  tests/bake.go
  tests/build.go
Labels: area/bake, area/bake/compose, area/build, area/tests, status/needs-cherry-pick/v0.25

#3254 vendor: update buildkit v0.23.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies, status/needs-cherry-pick/v0.25

#3255 [v0.25] cherry-picks for v0.25.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#3253 driver kubernetes: allow to work in a Memory mount to speed up things
  driver/kubernetes/factory.go
  driver/kubernetes/manifest/manifest.go
Labels: area/driver/kubernetes, area/driver

#3262 dockerfile: update buildkit to 0.23.1
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#3258 docs: fix history inspect attachment examples
  docs/reference/buildx_history_inspect_attachment.md
Labels: area/docs

#3264 history: fix required args for inspect attachment command
  commands/history/inspect_attachment.go
  docs/reference/buildx_history_inspect_attachment.md
Labels: area/cli, area/docs, area/history

#3270 vendor: align otel deps to v0.60.0 / v1.35.0
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/clienttrace.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/httptrace.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/env.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/gen.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/util.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconv/v1.20.0.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/internal/semconvutil/netconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/httptrace/otelhttptrace/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/options.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/metricdata.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetricgrpc/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/metricdata.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlpmetric/otlpmetrichttp/version.go
  vendor/modules.txt
Labels: area/dependencies

#3269 dockerfile: update alpine to 3.22
  Dockerfile
  hack/dockerfiles/authors.Dockerfile
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
Labels: area/hack
