Repository docker/buildx, pull requests merged in 2025-09, with the labels that each got.

#3398 git querystring frontend capability detection
  build/opt.go
  commands/build.go
Labels: area/build, area/cli

#3401 vendor: update buildkit to v0.24.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#3400 [v0.28] cherry-picks for v0.28.0
  build/opt.go
  commands/build.go
  go.mod
  go.sum
  tests/build.go
  tests/integration_test.go
  vendor/modules.txt
Labels: area/build, area/cli, area/dependencies, area/tests

#3418 go.mod: bump to go 1.24
  build/build.go
  build/utils.go
  builder/builder.go
  commands/history/inspect.go
  commands/inspect.go
  go.mod
  tests/create.go
  tests/inspect.go
  tests/integration.go
  tests/ls.go
  tests/workers/docker.go
  util/buildflags/export.go
Labels: area/build, area/cli, area/builder, area/dependencies, area/tests, area/history

#3420 docs: add variable 'description' attribute
  docs/bake-reference.md
Labels: area/docs

#3429 vendor github.com/spf13/pflag v1.0.10, github.com/spf13/cobra v1.10.1
  go.mod
  go.sum
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/SECURITY.md
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/rest_docs.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/github.com/spf13/pflag/time.go
  vendor/modules.txt
Labels: area/dependencies

#3427 bump compose-go to version v2.9.0
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/develop.go
  vendor/modules.txt
Labels: area/dependencies

#3432 docs: add plugin guideline requirements for dap plugins
  docs/dap.md
Labels: area/docs

#3442 vendor: update buildkit to v0.25.0
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/util/grpcerrors/grpcerrors.go
  vendor/modules.txt
Labels: area/dependencies, status/needs-cherry-pick/v0.29

#3443 [0.29] cherry-picks for v0.29.0
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/util/grpcerrors/grpcerrors.go
  vendor/modules.txt
Labels: area/dependencies
