Repository docker/buildx, pull requests merged in 2025-04, with the labels that each got.

#3089 Fix typos
  PROJECT.md
  docs/reference/buildx_build.md
  driver/remote/driver.go
  util/buildflags/attests.go
  util/ioset/mux_test.go
Labels: area/driver/remote, area/driver, area/project, area/docs, area/tests

#3090 bake: fix platforms field in compose yaml
  bake/compose.go
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

#3092 avoid import to testing helpers outside of tests
  build/git_test.go
  tests/bake.go
  tests/build.go
  util/gitutil/credentials_test.go
  util/gitutil/gittestutil/testutil.go
  util/gitutil/gittestutil/testutilserve.go
  util/gitutil/gitutil.go
  util/gitutil/gitutil_test.go
Labels: area/build, status/needs-follow-up, area/tests

#3097 bake: keep escaped interpolation in print output
  bake/bake.go
  tests/bake.go
Labels: area/bake, area/tests

#3098 vendor: update jaeger-ui-rest to v1.68
  go.mod
  go.sum
  vendor/github.com/tonistiigi/jaeger-ui-rest/Dockerfile
  vendor/github.com/tonistiigi/jaeger-ui-rest/LICENSE
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/index.html
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/index-BBZlPGVK.js
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/index-C4KU8NTf.css
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/index-CDGSPNPD.js
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/index-CI8UWE4f.css
  vendor/modules.txt
Labels: area/dependencies

#3095 migrate to github.com/moby/go-archive module
  driver/docker-container/driver.go
  go.mod
  go.sum
  vendor/github.com/docker/docker/pkg/idtools/idtools.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_unix.go
  vendor/github.com/docker/docker/pkg/idtools/idtools_windows.go
  vendor/github.com/moby/go-archive/LICENSE
  vendor/github.com/moby/go-archive/archive.go
  vendor/github.com/moby/go-archive/archive_linux.go
  vendor/github.com/moby/go-archive/archive_other.go
  vendor/github.com/moby/go-archive/archive_unix.go
  vendor/github.com/moby/go-archive/archive_windows.go
  vendor/github.com/moby/go-archive/changes.go
  vendor/github.com/moby/go-archive/changes_linux.go
  vendor/github.com/moby/go-archive/changes_other.go
  vendor/github.com/moby/go-archive/changes_unix.go
  vendor/github.com/moby/go-archive/changes_windows.go
  vendor/github.com/moby/go-archive/copy.go
  vendor/github.com/moby/go-archive/copy_unix.go
  vendor/github.com/moby/go-archive/copy_windows.go
  vendor/github.com/moby/go-archive/dev_freebsd.go
  vendor/github.com/moby/go-archive/dev_unix.go
  vendor/github.com/moby/go-archive/diff.go
  vendor/github.com/moby/go-archive/diff_unix.go
  vendor/github.com/moby/go-archive/diff_windows.go
  vendor/github.com/moby/go-archive/path.go
  vendor/github.com/moby/go-archive/path_unix.go
  vendor/github.com/moby/go-archive/path_windows.go
  vendor/github.com/moby/go-archive/time.go
  vendor/github.com/moby/go-archive/time_nonwindows.go
  vendor/github.com/moby/go-archive/time_windows.go
  vendor/github.com/moby/go-archive/whiteouts.go
  vendor/github.com/moby/go-archive/wrap.go
  vendor/github.com/moby/go-archive/xattr_supported.go
  vendor/github.com/moby/go-archive/xattr_supported_linux.go
  vendor/github.com/moby/go-archive/xattr_supported_unix.go
  vendor/github.com/moby/go-archive/xattr_unsupported.go
  vendor/modules.txt
Labels: area/driver/docker-container, area/driver, area/dependencies

#3105 bump compose-go to version v2.6.0
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/dotenv/env.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/format.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/godotenv.go
  vendor/github.com/compose-spec/compose-go/v2/graph/cycle.go
  vendor/github.com/compose-spec/compose-go/v2/graph/traversal.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/reset.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/override/merge.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/utils/collectionutils.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/maps/maps.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/modules.txt
Labels: area/dependencies

#3106 build: print frontend inline message
  commands/bake.go
  commands/build.go
Labels: area/cli, needs-cherry-pick/v0.23

#3103 migrate to use github.com/moby/sys/atomicwriter
  commands/build.go
  go.mod
  go.sum
  util/confutil/config.go
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
Labels: area/cli, area/dependencies

#3110 vendor: github.com/moby/buildkit v0.21.0-rc2
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/api/services/control/control_vtproto.pb.go
  vendor/github.com/moby/buildkit/client/build.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/tonistiigi/fsutil/buffer.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/modules.txt
Labels: area/dependencies, needs-cherry-pick/v0.23

#3108 [v0.23] cherry-picks for v0.23.0-rc2
  commands/bake.go
  commands/build.go
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/dotenv/env.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/format.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/godotenv.go
  vendor/github.com/compose-spec/compose-go/v2/graph/cycle.go
  vendor/github.com/compose-spec/compose-go/v2/graph/traversal.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/reset.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/override/merge.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/utils/collectionutils.go
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/api/services/control/control_vtproto.pb.go
  vendor/github.com/moby/buildkit/client/build.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/session/filesync/diffcopy.go
  vendor/github.com/moby/buildkit/session/filesync/filesync.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/tonistiigi/fsutil/buffer.go
  vendor/github.com/tonistiigi/fsutil/receive.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/maps/maps.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/modules.txt
Labels: area/cli, area/dependencies

#3114 bake: fix variadic_params inconsistency for user functions
  bake/hclparser/hclparser.go
  util/userfunc/README.md
  util/userfunc/decode.go
  util/userfunc/public.go
Labels: area/bake

#3115 vendor: github.com/moby/buildkit v0.21.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#3112 dockerfile: update buildkit to 0.21.0-rc2
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#3120 ci: assign author on pull request
  .github/workflows/pr-assign-author.yml
Labels: area/ci

#3123 vendor: github.com/moby/spdystream v0.5.0 (indirect)
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/connection.go
  vendor/modules.txt
Labels: area/dependencies

#3130 ci: update pr-assign-author
  .github/workflows/pr-assign-author.yml
Labels: area/ci

#3113 vendor: update hcl dependencies
  go.mod
  go.sum
  vendor/github.com/zclconf/go-cty/cty/function/stdlib/collection.go
  vendor/github.com/zclconf/go-cty/cty/function/stdlib/format.go
  vendor/github.com/zclconf/go-cty/cty/json/type_implied.go
  vendor/github.com/zclconf/go-cty/cty/value_ops.go
  vendor/modules.txt
Labels: area/dependencies

#3133 build: make sure defers always run in the end of the build
  build/build.go
Labels: area/build

#3141 use filepath.IsAbs to support windows paths
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

#3142 vendor: github.com/docker/docker, docker/cli v28.1.1, containerd v2.0.5
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/core/remotes/docker/pusher.go
  vendor/github.com/containerd/containerd/v2/defaults/defaults_snapshotter_linux.go
  vendor/github.com/containerd/containerd/v2/defaults/defaults_snapshotter_unix.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/github.com/docker/docker/api/types/registry/registry.go
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Labels: area/dependencies

#3146 chore(dockerutil): propagate OTEL context to Docker daemon
  go.mod
  util/dockerutil/api.go
Labels: area/dependencies
