Repository docker/buildx, pull requests merged in 2025-01, with the labels that each got.

#2877 bake: fix context from target platform matching
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

#2874 vendor: github.com/docker/docker, github.com/docker/cli v27.4.1
  go.mod
  go.sum
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/github.com/docker/docker/client/ping.go
  vendor/github.com/docker/docker/pkg/system/lstat_unix.go
  vendor/github.com/docker/docker/pkg/system/lstat_windows.go
  vendor/github.com/docker/docker/pkg/system/mknod.go
  vendor/github.com/docker/docker/pkg/system/mknod_freebsd.go
  vendor/github.com/docker/docker/pkg/system/mknod_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_linux.go
  vendor/github.com/docker/docker/pkg/system/stat_unix.go
  vendor/github.com/docker/docker/pkg/system/stat_windows.go
  vendor/modules.txt
Labels: area/dependencies

#2886 bake: update lookup order for override
  bake/bake.go
  docs/bake-reference.md
Labels: area/bake, area/docs

#2863 bake: fix missing default target in group's default targets
  bake/bake.go
  bake/bake_test.go
Labels: area/bake, area/tests

#2804 test bsd
  .github/workflows/build.yml
  hack/Vagrantfile.freebsd
  hack/Vagrantfile.openbsd
Labels: area/ci, area/hack

#2875 bake: make FS entitlements error by default
  bake/entitlements.go
  hack/test-driver
Labels: area/bake, area/hack

#2893 bump compose-go to v2.4.7
  bake/compose_test.go
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/paths/resolve.go
  vendor/github.com/compose-spec/compose-go/v2/paths/unix.go
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/modules.txt
Labels: area/bake, area/bake/compose, status/needs-follow-up, area/dependencies, area/tests

#2864 builder: validate buildkit configuration
  builder/builder_test.go
  util/confutil/config.go
Labels: area/builder, area/tests

#2894 ci: update bake-action to v6
  .github/workflows/build.yml
  .github/workflows/docs-release.yml
  .github/workflows/docs-upstream.yml
  .github/workflows/e2e.yml
  .github/workflows/validate.yml
Labels: area/ci

#2898 bake: fix entitlements check for default SSH socket
  bake/entitlements.go
  tests/bake.go
Labels: area/bake, area/tests

#2900 bake: replace --list-targets and --list-variables flags with --list flag
  bake/hclparser/hclparser.go
  commands/bake.go
  docs/reference/buildx_bake.md
  tests/bake.go
Labels: area/bake, area/cli, needs/docs-follow-up, area/docs, area/tests

#2907 docs: add description for bake --list
  docs/reference/buildx_bake.md
Labels: area/docs

#2899 docs: missing quiet progress mode
  commands/build.go
  docs/reference/buildx_bake.md
  docs/reference/buildx_build.md
  docs/reference/buildx_debug_build.md
Labels: area/cli, area/docs

#2909 vendor: github.com/docker/cli-docs-tool v0.9.0
  go.mod
  go.sum
  vendor/github.com/cpuguy83/go-md2man/v2/md2man/roff.go
  vendor/github.com/docker/cli-docs-tool/.golangci.yml
  vendor/github.com/docker/cli-docs-tool/Dockerfile
  vendor/github.com/docker/cli-docs-tool/clidocstool.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_yaml.go
  vendor/github.com/docker/cli-docs-tool/docker-bake.hcl
  vendor/modules.txt
Labels: area/dependencies

#2866 ci: e2e bake
  .github/workflows/e2e.yml
Labels: area/ci

#2911 vendor: update hcl dependencies
  go.mod
  go.sum
  vendor/github.com/hashicorp/hcl/v2/CHANGELOG.md
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/parser_traversal.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/public.go
  vendor/github.com/hashicorp/hcl/v2/ops.go
  vendor/github.com/hashicorp/hcl/v2/spec.md
  vendor/github.com/zclconf/go-cty/cty/convert/conversion.go
  vendor/github.com/zclconf/go-cty/cty/convert/conversion_collection.go
  vendor/github.com/zclconf/go-cty/cty/function/function.go
  vendor/github.com/zclconf/go-cty/cty/function/stdlib/collection.go
  vendor/github.com/zclconf/go-cty/cty/walk.go
  vendor/modules.txt
Labels: area/dependencies

#2908 vendor: github.com/creack/pty v1.1.24
  go.mod
  go.sum
  vendor/github.com/creack/pty/README.md
  vendor/github.com/creack/pty/pty_unsupported.go
  vendor/github.com/creack/pty/pty_zos.go
  vendor/github.com/creack/pty/ztypes_openbsd_32bit_int.go
  vendor/modules.txt
Labels: area/dependencies

#2920 dockerfile: update buildkit to 0.19.0-rc2
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2921 downgrade go-difflib and go-spew to tagged releases
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#2891 Add buildx history command
  commands/history/inspect.go
  commands/history/inspect_attachment.go
  commands/history/logs.go
  commands/history/ls.go
  commands/history/open.go
  commands/history/rm.go
  commands/history/root.go
  commands/history/utils.go
  commands/root.go
  docs/reference/buildx.md
  docs/reference/buildx_history.md
  docs/reference/buildx_history_inspect.md
  docs/reference/buildx_history_inspect_attachment.md
  docs/reference/buildx_history_logs.md
  docs/reference/buildx_history_ls.md
  docs/reference/buildx_history_open.md
  docs/reference/buildx_history_rm.md
  go.mod
  go.sum
  util/desktop/desktop.go
  vendor/github.com/pkg/browser/LICENSE
  vendor/github.com/pkg/browser/README.md
  vendor/github.com/pkg/browser/browser.go
  vendor/github.com/pkg/browser/browser_darwin.go
  vendor/github.com/pkg/browser/browser_freebsd.go
  vendor/github.com/pkg/browser/browser_linux.go
  vendor/github.com/pkg/browser/browser_netbsd.go
  vendor/github.com/pkg/browser/browser_openbsd.go
  vendor/github.com/pkg/browser/browser_unsupported.go
  vendor/github.com/pkg/browser/browser_windows.go
  vendor/modules.txt
Labels: area/cli, status/needs-follow-up, area/docs, area/dependencies

#2927 chore: handle area/history label
  .github/labeler.yml
Labels: area/project

#2925 history: add error details to history inspect command
  commands/history/inspect.go
  go.mod
Labels: area/cli, area/dependencies, area/history

#2923 chore: comments to not forget to update docs
  bake/bake.go
Labels: area/bake

#2933 [v0.20 backport] vendor: update buildkit to v0.19.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#2935 ci: update buildkit to 0.19.0
  .github/workflows/build.yml
Labels: area/ci

#2937 buildflags: marshal attestations into json with extra attributes correctly
  util/buildflags/attests.go
  util/buildflags/attests_test.go
  util/buildflags/cache_test.go
  util/buildflags/secrets.go
  util/buildflags/secrets_test.go
  util/buildflags/ssh.go
  util/buildflags/ssh_test.go
Labels: area/tests

#2940 [v0.20] v0.20.1 cherry-picks
  util/buildflags/attests.go
  util/buildflags/attests_test.go
  util/buildflags/cache_test.go
  util/buildflags/secrets.go
  util/buildflags/secrets_test.go
  util/buildflags/ssh.go
  util/buildflags/ssh_test.go
Labels: area/tests

#2835 docs: bake v0.19 entitlements
  docs/bake-reference.md
  docs/reference/buildx_bake.md
Labels: area/docs

#2941 ci: use main branch for docs upstream validation workflow
  .github/workflows/docs-upstream.yml
Labels: area/ci, needs-cherry-pick/v0.20

#2944 buildflags: fix ref only format for command line and bake
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  commands/build.go
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
Labels: area/bake, area/bake/compose, area/cli, area/tests, needs-cherry-pick/v0.20

#2932 vendor: update buildkit to v0.19.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#2945 [v0.20.1] cherry picks
  .github/workflows/docs-upstream.yml
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  commands/build.go
  docs/bake-reference.md
  docs/reference/buildx_bake.md
  util/buildflags/cache.go
  util/buildflags/cache_cty.go
  util/buildflags/cache_test.go
Labels: area/bake, area/bake/compose, area/cli, area/ci, area/docs, area/tests

#2953 docs: update bake reference to use composable attrs
  docs/bake-reference.md
Labels: area/docs
