Repository docker/buildx, pull requests merged in 2025-02, with the labels that each got.

#2950 fix: strip path from usage output and shell-completion scripts
  cmd/buildx/main.go
Labels: area/cli

#2961 driver/docker-container: remove uses of dockerclient.IsErrNotFound
  driver/docker-container/driver.go
Labels: area/driver/docker-container, area/driver

#2965 buildflags: handle unknown values from cty
  bake/hcl_test.go
  go.mod
  hack/dockerfiles/lint.Dockerfile
  util/buildflags/attests_cty.go
  util/buildflags/cache_cty.go
  util/buildflags/export_cty.go
  util/buildflags/secrets_cty.go
  util/buildflags/ssh_cty.go
  util/buildflags/utils.go
Labels: area/bake, area/hack, area/dependencies, area/tests, needs-cherry-pick/v0.20

#2957 don't warn user about missing --allows when running with progress=rawjson
  commands/bake.go
Labels: area/cli

#2970 ls: fix duplicated builders for json format
  commands/ls.go
Labels: area/cli

#2976 ci: install latest vagrant
  .github/workflows/build.yml
Labels: area/ci

#2964 history: inspect json and go template format
  commands/history/inspect.go
  docs/reference/buildx_history_inspect.md
Labels: area/cli, status/needs-follow-up, area/docs, area/history

#2979 vendor: update buildkit to 0e3037c0182e
  bake/bake.go
  controller/build/build.go
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/api/services/control/control_vtproto.pb.go
  vendor/github.com/moby/buildkit/frontend/dockerui/config.go
  vendor/github.com/moby/buildkit/frontend/dockerui/namedcontext.go
  vendor/github.com/moby/buildkit/session/auth/authprovider/authprovider.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/util/contentutil/refs.go
  vendor/github.com/moby/buildkit/util/testutil/integration/run.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/pickfirst/internal/internal.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirstleaf/pickfirstleaf.go
  vendor/google.golang.org/grpc/balancer/roundrobin/roundrobin.go
  vendor/google.golang.org/grpc/balancer/subconn.go
  vendor/google.golang.org/grpc/balancer_wrapper.go
  vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/codec.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/experimental/stats/metricregistry.go
  vendor/google.golang.org/grpc/experimental/stats/metrics.go
  vendor/google.golang.org/grpc/grpclog/internal/loggerv2.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/resolver/dns/dns_resolver.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/server_stream.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_slice.go
  vendor/google.golang.org/grpc/preloader.go
  vendor/google.golang.org/grpc/resolver/resolver.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/service_config.go
  vendor/google.golang.org/grpc/stats/metrics.go
  vendor/google.golang.org/grpc/stats/stats.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Labels: area/bake, area/controller, area/dependencies

#2978 buildflags: make work on go 1.22 by reverting rangefunc usage
  go.mod
  util/buildflags/attests_cty.go
  util/buildflags/cache_cty.go
  util/buildflags/export_cty.go
  util/buildflags/secrets_cty.go
  util/buildflags/ssh_cty.go
  util/buildflags/utils.go
Labels: area/dependencies

#2981 hack: mount docker config on gha
  hack/test
Labels: area/hack

#2904 Add history trace command
  .github/workflows/build.yml
  commands/history/root.go
  commands/history/trace.go
  docs/reference/buildx_history.md
  docs/reference/buildx_history_trace.md
  go.mod
  go.sum
  util/otelutil/fixtures/bktraces.json
  util/otelutil/fixtures/jaeger.json
  util/otelutil/fixtures/otlp.json
  util/otelutil/jaeger.go
  util/otelutil/jaeger/convert.go
  util/otelutil/jaeger/model.go
  util/otelutil/jaeger_test.go
  util/otelutil/span.go
  util/otelutil/span_test.go
  vendor/github.com/tonistiigi/jaeger-ui-rest/Dockerfile
  vendor/github.com/tonistiigi/jaeger-ui-rest/config.go
  vendor/github.com/tonistiigi/jaeger-ui-rest/decompress/decompress.go
  vendor/github.com/tonistiigi/jaeger-ui-rest/docker-bake.hcl
  vendor/github.com/tonistiigi/jaeger-ui-rest/fs.go
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/index.html
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/favicon-BxcVf0am.ico
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/index-BBZlPGVK.js
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/index-C4KU8NTf.css
  vendor/github.com/tonistiigi/jaeger-ui-rest/public/static/jaeger-logo-CNZsoUdk.svg
  vendor/github.com/tonistiigi/jaeger-ui-rest/readme.md
  vendor/github.com/tonistiigi/jaeger-ui-rest/server.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/LICENSE
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/README.md
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/config.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/doc.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/trace.go
  vendor/modules.txt
Labels: area/cli, area/ci, area/docs, area/dependencies, area/tests, area/history

#2986 remove import of x/exp
  commands/history/ls.go
  go.mod
Labels: area/cli, area/dependencies, area/history

#2993 vendor: update buildkit to v0.20.0-rc2
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/github.com/moby/buildkit/solver/result/result.go
  vendor/github.com/moby/buildkit/util/appdefaults/appdefaults_windows.go
  vendor/github.com/moby/buildkit/util/testutil/workers/dockerd.go
  vendor/github.com/moby/buildkit/util/testutil/workers/features.go
  vendor/modules.txt
Labels: area/dependencies

#3003 progress: fix race on pausing progress on debug shell
  util/progress/printer.go
Labels: needs-cherry-pick/v0.21

#3001 cache: enable gha cache backend if cache service v2 detected
  util/buildflags/cache.go
Labels: needs/docs-follow-up, needs-cherry-pick/v0.21

#2994 support for device entitlement in build and bake
  bake/bake.go
  bake/bake_test.go
  bake/entitlements.go
  bake/entitlements_test.go
  build/build.go
  build/opt.go
  commands/build.go
  docs/reference/buildx_build.md
  docs/reference/buildx_debug_build.md
  go.mod
  go.sum
  util/buildflags/entitlements.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/config.go
  vendor/github.com/moby/buildkit/util/entitlements/entitlements.go
  vendor/modules.txt
Labels: area/bake, area/build, area/cli, needs/docs-follow-up, area/docs, area/dependencies, area/tests, needs-cherry-pick/v0.21

#3004 [v0.21] cherry-picks 0.21.0-rc3
  bake/bake.go
  bake/bake_test.go
  bake/entitlements.go
  bake/entitlements_test.go
  build/build.go
  build/opt.go
  commands/build.go
  docs/reference/buildx_build.md
  docs/reference/buildx_debug_build.md
  go.mod
  go.sum
  util/buildflags/cache.go
  util/buildflags/entitlements.go
  util/progress/printer.go
  vendor/github.com/moby/buildkit/client/solve.go
  vendor/github.com/moby/buildkit/cmd/buildkitd/config/config.go
  vendor/github.com/moby/buildkit/util/entitlements/entitlements.go
  vendor/modules.txt
Labels: area/bake, area/build, area/cli, area/docs, area/dependencies, area/tests

#3008 vendor: github.com/docker/docker, docker/cli v28.0.0-rc.3
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli-plugins/manager/manager.go
  vendor/github.com/docker/cli/cli/cobra.go
  vendor/github.com/docker/cli/cli/command/cli.go
  vendor/github.com/docker/cli/cli/command/cli_options.go
  vendor/github.com/docker/cli/cli/command/formatter/custom.go
  vendor/github.com/docker/cli/cli/command/formatter/disk_usage.go
  vendor/github.com/docker/cli/cli/command/telemetry.go
  vendor/github.com/docker/cli/cli/connhelper/commandconn/commandconn.go
  vendor/github.com/docker/cli/cli/debug/debug.go
  vendor/github.com/docker/cli/cli/manifest/store/store.go
  vendor/github.com/docker/cli/cli/registry/client/endpoint.go
  vendor/github.com/docker/cli/cli/registry/client/fetcher.go
  vendor/github.com/docker/cli/cli/trust/trust.go
  vendor/github.com/docker/cli/internal/tui/colors.go
  vendor/github.com/docker/cli/opts/config.go
  vendor/github.com/docker/cli/opts/duration.go
  vendor/github.com/docker/cli/opts/gpus.go
  vendor/github.com/docker/cli/opts/mount.go
  vendor/github.com/docker/cli/opts/network.go
  vendor/github.com/docker/cli/opts/opts.go
  vendor/github.com/docker/cli/opts/port.go
  vendor/github.com/docker/cli/opts/quotedstring.go
  vendor/github.com/docker/cli/opts/secret.go
  vendor/github.com/docker/cli/opts/throttledevice.go
  vendor/github.com/docker/cli/opts/ulimit.go
  vendor/github.com/docker/cli/opts/weightdevice.go
  vendor/github.com/docker/docker/api/swagger.yaml
  vendor/modules.txt
Labels: area/dependencies, needs-cherry-pick/v0.21

#3010 vendor: github.com/moby/buildkit v0.20.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#3011 [v0.21] cherry-picks for v0.21.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#3013 ci: update buildkit to 0.20.0
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#3014 Dockerfile: update to docker v28.0.0
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#2995 ci: infer go version from workflow for bsd tests
  .github/workflows/build.yml
  hack/Vagrantfile.freebsd
  hack/Vagrantfile.openbsd
Labels: area/ci, area/hack

#2997 bake: allow annotations to be set on the command line
  bake/bake.go
  bake/bake_test.go
  docs/reference/buildx_bake.md
Labels: area/bake, needs/docs-follow-up, area/docs, area/tests

#3017 remove accidental debug
  util/buildflags/entitlements.go
Labels: needs-cherry-pick/v0.21

#3021 buildflags: skip empty cache entries when parsing
  tests/bake.go
  util/buildflags/cache.go
Labels: area/tests, needs-cherry-pick/v0.21

#3026 vendor: docker/docker, docker/cli v28.0.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies

#3023 avoid double pushing with docker driver with containerd
  build/build.go
  driver/docker-container/driver.go
  driver/docker/driver.go
  driver/features.go
  driver/kubernetes/driver.go
  driver/remote/driver.go
Labels: area/driver/kubernetes, area/driver/remote, area/driver/docker-container, area/driver/docker, area/driver, area/build

#3030 vendor: github.com/docker/docker, docker/cli v28.0.1
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/error.go
  vendor/modules.txt
Labels: area/dependencies
