Repository docker/buildx, pull requests merged in 2025-03, with the labels that each got.

#3035 Fix typos
  bake/hclparser/gohcl/encode.go
  build/build.go
  controller/control/controller.go
  controller/processes/processes.go
  driver/kubernetes/podchooser/podchooser.go
Labels: area/driver/kubernetes, area/bake, area/driver, area/build, area/controller

#3037 [v0.21] cherry-picks for v0.21.2
  bake/hcl_test.go
  tests/bake.go
  util/buildflags/attests.go
  util/buildflags/attests_test.go
  util/buildflags/cache.go
  util/buildflags/export.go
Labels: area/bake, area/tests

#3032 correctly remove duplicated secrets and ssh keys
  util/buildflags/secrets.go
  util/buildflags/secrets_test.go
  util/buildflags/ssh.go
  util/buildflags/ssh_test.go
Labels: area/tests

#2901 build and test netbsd
  .github/workflows/build.yml
  Dockerfile
  docker-bake.hcl
  hack/Vagrantfile.netbsd
Labels: area/ci, area/hack

#3042 ci: bump to ubuntu-24.04
  .github/workflows/e2e.yml
Labels: area/ci

#3046 dockerfile: update buildkit to 0.20.1
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#3049 history: allow index based inspect of builds
  commands/history/inspect.go
Labels: area/cli, needs/docs-follow-up, area/history

#3053 lint: apply x/tools/modernize fixes and validation
  bake/bake.go
  bake/compose.go
  bake/entitlements.go
  bake/hcl_test.go
  bake/hclparser/gohcl/decode.go
  bake/hclparser/gohcl/decode_test.go
  bake/hclparser/gohcl/encode.go
  bake/hclparser/gohcl/schema.go
  bake/hclparser/gohcl/schema_test.go
  bake/hclparser/hclparser.go
  bake/hclparser/type_implied.go
  build/dial.go
  build/driver.go
  build/replicatedstream_test.go
  builder/builder.go
  builder/node.go
  commands/bake.go
  commands/build.go
  commands/diskusage.go
  commands/history/inspect.go
  commands/history/ls.go
  commands/imagetools/create.go
  controller/pb/progress.go
  controller/pb/ssh.go
  controller/remote/controller.go
  driver/kubernetes/context/endpoint_test.go
  driver/kubernetes/context/load.go
  driver/kubernetes/util/generate.go
  hack/dockerfiles/lint.Dockerfile
  monitor/commands/attach.go
  store/nodegroup.go
  store/util.go
  tests/bake.go
  tests/build.go
  tests/integration.go
  tests/rm.go
  tests/workers/backend.go
  util/buildflags/attests.go
  util/buildflags/cache.go
  util/buildflags/utils.go
  util/imagetools/create.go
  util/imagetools/loader.go
  util/imagetools/printers.go
  util/ioset/mux_test.go
  util/otelutil/jaeger/model.go
  util/otelutil/span.go
  util/otelutil/span_test.go
  util/progress/printer.go
  util/progress/writer.go
  util/waitmap/waitmap.go
Labels: area/driver/kubernetes, area/bake, area/bake/compose, area/driver, area/build, area/cli, area/controller, area/hack, area/builder, area/tests, area/history

#3055 history: generalize query loading
  commands/history/inspect.go
  commands/history/inspect_attachment.go
  commands/history/logs.go
  commands/history/ls.go
  commands/history/open.go
  commands/history/trace.go
  commands/history/utils.go
Labels: area/cli, area/history

#3040 ci: fix faulty bin-image job
  .github/workflows/build.yml
Labels: area/ci

#3057 vendor: update compose-go to v2.4.8
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/interpolate.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/paths/context.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/github.com/compose-spec/compose-go/v2/transform/gpus.go
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/modules.txt
Labels: area/dependencies

#3058 vendor: github.com/moby/buildkit v0.20.1
  go.mod
  go.sum
  vendor/github.com/containerd/containerd/v2/core/content/proxy/content_writer.go
  vendor/github.com/containerd/containerd/v2/version/version.go
  vendor/modules.txt
Labels: area/dependencies

#3063 driver: request gpu when creating container builder
  driver/docker-container/driver.go
  driver/docker-container/factory.go
Labels: area/driver/docker-container, area/driver

#3067 [v0.21] cherry-picks for v0.21.3
  commands/bake.go
  commands/build.go
  localstate/localstate.go
  localstate/localstate_test.go
  localstate/migrate.go
  util/tracing/trace.go
Labels: area/cli, area/tests

#3068 cherry-picks for CVE-2025-0495
  commands/bake.go
  commands/build.go
  localstate/localstate.go
  localstate/localstate_test.go
  localstate/migrate.go
  util/tracing/trace.go
Labels: area/cli, area/tests

#3064 bump compose-go to v2.4.9
  bake/bake.go
  bake/compose.go
  build/build.go
  build/git.go
  build/provenance.go
  commands/ls.go
  controller/pb/cache.go
  controller/pb/export.go
  go.mod
  go.sum
  store/nodegroup.go
  util/imagetools/create.go
  util/imagetools/loader.go
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/format.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/godotenv.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/parser.go
  vendor/github.com/compose-spec/compose-go/v2/graph/traversal.go
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/interpolate.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/omitEmpty.go
  vendor/github.com/compose-spec/compose-go/v2/loader/paths.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/paths/windows_path.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/template/template.go
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/github.com/compose-spec/compose-go/v2/transform/devices.go
  vendor/github.com/compose-spec/compose-go/v2/types/config.go
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/develop.go
  vendor/github.com/compose-spec/compose-go/v2/types/duration.go
  vendor/github.com/compose-spec/compose-go/v2/types/labels.go
  vendor/github.com/compose-spec/compose-go/v2/types/mapping.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/utils/pathutils.go
  vendor/github.com/compose-spec/compose-go/v2/validation/validation.go
  vendor/github.com/xhit/go-str2duration/v2/LICENSE
  vendor/github.com/xhit/go-str2duration/v2/README.md
  vendor/github.com/xhit/go-str2duration/v2/str2duration.go
  vendor/modules.txt
Labels: area/bake, area/bake/compose, area/build, area/cli, area/controller, area/dependencies

#3075 vendor: github.com/spf13/cobra v1.9.1
  go.mod
  go.sum
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/pflag/.editorconfig
  vendor/github.com/spf13/pflag/.golangci.yaml
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/ip.go
  vendor/github.com/spf13/pflag/ipnet_slice.go
  vendor/github.com/spf13/pflag/string_array.go
  vendor/modules.txt
Labels: area/dependencies

#3078 vendor: github.com/moby/buildkit v0.20.2
  .github/workflows/build.yml
  Dockerfile
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/buildkit, area/ci, area/dependencies

#3080 bake: support compose service as build context
  bake/compose.go
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

#3073 history: add export command
  commands/history/export.go
  commands/history/root.go
  docs/reference/buildx_history.md
  docs/reference/buildx_history_export.md
  util/desktop/bundle/content.go
  util/desktop/bundle/export.go
  util/desktop/bundle/trace.go
Labels: area/cli, status/needs-follow-up, needs/docs-follow-up, area/docs, area/history
