Repository docker/buildx, pull requests merged in 2025-05, with the labels that each got.

#3155 ci: fix bin-image job
  .github/workflows/build.yml
Labels: area/ci

#3126 controller: remove controller grpc service
  commands/build.go
  commands/debug/root.go
  commands/root.go
  controller/build/build.go
  controller/build/options.go
  controller/build/options_test.go
  controller/control/controller.go
  controller/controller.go
  controller/errdefs/errdefs.pb.go
  controller/local/controller.go
  controller/pb/attest.go
  controller/pb/cache.go
  controller/pb/controller.pb.go
  controller/pb/controller.proto
  controller/pb/controller_grpc.pb.go
  controller/pb/controller_vtproto.pb.go
  controller/pb/export.go
  controller/pb/invoke.go
  controller/pb/progress.go
  controller/pb/secrets.go
  controller/pb/ssh.go
  controller/pb/ulimit.go
  controller/processes/processes.go
  controller/remote/client.go
  controller/remote/controller.go
  controller/remote/controller_nolinux.go
  controller/remote/io.go
  controller/remote/server.go
  docs/reference/buildx_build.md
  docs/reference/buildx_debug.md
  docs/reference/buildx_debug_build.md
  go.mod
  monitor/commands/attach.go
  monitor/commands/disconnect.go
  monitor/commands/exec.go
  monitor/commands/kill.go
  monitor/commands/list.go
  monitor/commands/ps.go
  monitor/commands/reload.go
  monitor/commands/rollback.go
  monitor/monitor.go
  monitor/types/types.go
  vendor/github.com/containerd/containerd/v2/pkg/dialer/dialer.go
  vendor/github.com/containerd/containerd/v2/pkg/dialer/dialer_unix.go
  vendor/github.com/containerd/containerd/v2/pkg/dialer/dialer_windows.go
  vendor/modules.txt
Labels: area/cli, area/controller, area/docs, area/dependencies, area/tests

#3164 controller: remove controller/errdefs protobuf files
  cmd/buildx/main.go
  commands/build.go
  controller/errdefs/build.go
  controller/errdefs/errdefs.pb.go
  controller/errdefs/errdefs.proto
  controller/errdefs/errdefs_vtproto.pb.go
  controller/local/controller.go
  go.mod
Labels: area/cli, area/controller, area/dependencies

#3136 Output correct image ID when using Docker with the containerd-snapshotter
  build/build.go
  build/opt.go
  tests/build.go
Labels: area/build, area/tests

#3127 docs: add descriptions and examples for buildx history commands
  docs/reference/buildx_history.md
  docs/reference/buildx_history_export.md
  docs/reference/buildx_history_import.md
  docs/reference/buildx_history_inspect.md
  docs/reference/buildx_history_inspect_attachment.md
  docs/reference/buildx_history_logs.md
  docs/reference/buildx_history_ls.md
  docs/reference/buildx_history_open.md
  docs/reference/buildx_history_rm.md
  docs/reference/buildx_history_trace.md
Labels: area/docs

#3168 bake: fix nil deference on empty call definition
  commands/bake.go
Labels: area/cli

#3171 bump compose-go to v2.6.2
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/loader/extends.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/validate.go
  vendor/github.com/compose-spec/compose-go/v2/paths/unix.go
  vendor/github.com/compose-spec/compose-go/v2/paths/windows_path.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/modules.txt
Labels: area/dependencies

#3167 Allow variables to be explicitly typed (and enforced)
  bake/hcl_test.go
  bake/hclparser/hclparser.go
Labels: area/bake, needs/docs-follow-up, area/tests

#3177 docs: remove commas in bake hcl object blocks
  docs/bake-reference.md
Labels: area/docs

#3181 update golangci-lint to v2.1.5
  .golangci.yml
  bake/hclparser/hclparser.go
  bake/hclparser/stdlib.go
  build/build.go
  build/dial.go
  build/driver.go
  build/driver_test.go
  build/git.go
  build/git_test.go
  build/opt.go
  build/result.go
  builder/builder.go
  builder/node.go
  commands/bake.go
  commands/dial_stdio.go
  commands/history/inspect.go
  commands/history/logs.go
  commands/imagetools/create.go
  commands/inspect.go
  commands/ls.go
  commands/rm.go
  docker-bake.hcl
  driver/docker-container/driver.go
  driver/kubernetes/manifest/manifest.go
  driver/manager.go
  driver/remote/driver.go
  hack/dockerfiles/lint.Dockerfile
  store/nodegroup.go
  util/imagetools/create.go
  util/imagetools/imagetools_helpers_test.go
  util/imagetools/inspect.go
  util/imagetools/loader.go
  util/imagetools/printers.go
  util/platformutil/parse.go
Labels: area/driver/kubernetes, area/bake, area/driver/remote, area/driver/docker-container, area/driver, area/build, area/cli, area/hack, area/builder, area/tests, area/history

#3182 update to go 1.24
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  Dockerfile
  bake/bake.go
  bake/bake_test.go
  bake/compose.go
  bake/compose_test.go
  bake/hclparser/hclparser.go
  build/build.go
  build/git_test.go
  build/opt.go
  build/provenance.go
  build/utils_test.go
  builder/builder_test.go
  commands/bake.go
  commands/history/inspect.go
  commands/history/rm.go
  commands/history/utils.go
  commands/imagetools/create.go
  commands/ls_test.go
  controller/build/options.go
  controller/build/options_test.go
  driver/docker/version_test.go
  hack/dockerfiles/docs.Dockerfile
  hack/dockerfiles/generated-files.Dockerfile
  hack/dockerfiles/govulncheck.Dockerfile
  hack/dockerfiles/lint.Dockerfile
  hack/dockerfiles/vendor.Dockerfile
  tests/ls.go
  util/confutil/config_unix_test.go
  util/dockerutil/progress.go
  util/gitutil/credentials_test.go
  util/gitutil/gitutil_test.go
  util/imagetools/loader.go
  util/otelutil/span_test.go
Labels: area/bake, area/bake/compose, area/driver/docker, area/driver, area/build, area/cli, area/ci, area/controller, area/hack, area/builder, area/tests, area/history

#3179 ls: make sure current builder is available in JSON output
  commands/ls.go
Labels: area/cli

#3180 dockerfile: update docker to 28.1.1 and buildkit to 0.21.1
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#3184 lint: fix linter after merge conflict
  commands/history/utils.go
Labels: area/cli, area/history

#3186 update readme
  README.md
Labels: area/project

#3191 bump compose-go to v2.6.3
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/LICENSE
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/options.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/validation/validation.go
  vendor/modules.txt
Labels: area/dependencies

#3192 vendor: github.com/docker/cli-docs-tool v0.10.0
  go.mod
  go.sum
  vendor/github.com/docker/cli-docs-tool/.golangci.yml
  vendor/github.com/docker/cli-docs-tool/Dockerfile
  vendor/github.com/docker/cli-docs-tool/annotation/annotation.go
  vendor/github.com/docker/cli-docs-tool/clidocstool.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_man.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_md.go
  vendor/github.com/docker/cli-docs-tool/clidocstool_yaml.go
  vendor/modules.txt
Labels: area/dependencies

#3193 vendor: github.com/moby/buildkit v0.22.0-rc2
  go.mod
  go.sum
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/api/services/control/control_vtproto.pb.go
  vendor/github.com/moby/buildkit/client/diskusage.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/modules.txt
Labels: area/dependencies, status/needs-cherry-pick/v0.24

#3195 [v0.24] cherry-picks for v0.24.0-rc2
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/LICENSE
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/options.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/github.com/compose-spec/compose-go/v2/validation/validation.go
  vendor/github.com/moby/buildkit/api/services/control/control.pb.go
  vendor/github.com/moby/buildkit/api/services/control/control.proto
  vendor/github.com/moby/buildkit/api/services/control/control_vtproto.pb.go
  vendor/github.com/moby/buildkit/client/diskusage.go
  vendor/github.com/moby/buildkit/client/llb/source.go
  vendor/github.com/moby/buildkit/solver/pb/attr.go
  vendor/github.com/moby/buildkit/solver/pb/caps.go
  vendor/modules.txt
Labels: area/dependencies

#3199 vendor: github.com/moby/buildkit v0.22.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/dependencies, status/needs-cherry-pick/v0.24

#3189 Add variable typing to reference docs
  docs/bake-reference.md
Labels: area/docs, status/needs-cherry-pick/v0.24

#3200 [v0.24] cherry-picks for v0.24.0
  bake/hcl_test.go
  bake/hclparser/hclparser.go
  docs/bake-reference.md
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/bake, area/docs, area/dependencies, area/tests

#3188 dockerfile: update buildkit to 0.22.0
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#3201 hack: remove code generation related to generated files
  Makefile
  docker-bake.hcl
  hack/dockerfiles/generated-files.Dockerfile
Labels: area/hack
