Repository docker/buildx, pull requests merged in 2025-07, with the labels that each got.

#3275 compose: ignore dotenv that is a directory
  bake/compose.go
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

#3276 compose: evaluate vars from current env in dotenv file
  bake/compose.go
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

#3283 dockerfile: update buildkit to 0.23.2
  .github/workflows/build.yml
  Dockerfile
Labels: area/ci

#3235 dap: add debug adapter implementation
  build/build.go
  build/invoke.go
  build/result.go
  commands/build.go
  commands/dap.go
  commands/debug.go
  commands/root.go
  dap/adapter.go
  dap/adapter_test.go
  dap/client_test.go
  dap/conn.go
  dap/handler.go
  dap/server.go
  docs/reference/buildx.md
  docs/reference/buildx_dap.md
  docs/reference/buildx_dap_build.md
  go.mod
  go.sum
  monitor/monitor.go
  util/progress/printer.go
  vendor/github.com/google/go-dap/LICENSE
  vendor/github.com/google/go-dap/README.md
  vendor/github.com/google/go-dap/codec.go
  vendor/github.com/google/go-dap/doc.go
  vendor/github.com/google/go-dap/io.go
  vendor/github.com/google/go-dap/schematypes.go
  vendor/modules.txt
Labels: area/build, area/cli, area/docs, area/dependencies, area/tests

#3287 docs: generate docs for bake standard library functions
  bake/hclparser/stdlib.go
  docs/bake-reference.md
  docs/bake-stdlib.md
  docs/generate.go
  hack/dockerfiles/docs.Dockerfile
Labels: area/bake, status/needs-docs-follow-up, area/hack, area/docs

#3291 otelutil: remove unrelated comment
  util/otelutil/span_test.go
Labels: area/tests

#3293 dap: increase timeout for receiving configuration done in adapter test
  dap/adapter_test.go
Labels: area/tests

#3279 dap: add stack traces with next and continue functionality
  build/build.go
  dap/adapter.go
  dap/handler.go
  dap/server.go
  dap/thread.go
  monitor/monitor.go
Labels: area/build, status/needs-follow-up

#3300 history: bootstrap builder
  commands/history/export.go
  commands/history/inspect.go
  commands/history/inspect_attachment.go
  commands/history/logs.go
  commands/history/ls.go
  commands/history/open.go
  commands/history/rm.go
  commands/history/trace.go
  commands/history/utils.go
  tests/history.go
Labels: area/cli, area/tests, area/history

#3304 chore: readme cleanup
  README.md
Labels: area/project

#3305 docs: update links and add missing type for build cache exporters
  docs/reference/buildx_build.md
Labels: area/docs

#3298 cmd: fix duplicated commands description
  commands/root.go
Labels: area/cli

#3289 bake: set missing stdlib functions description
  bake/hclparser/stdlib.go
  docs/bake-stdlib.md
  docs/generate.go
Labels: area/bake, area/docs

#3315 dap: correctly set the target when provided by the launch config
  commands/dap.go
Labels: area/cli

#3185 vendor: github.com/Masterminds/semver/v3 v3.4.0
  go.mod
  go.sum
  vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  vendor/github.com/Masterminds/semver/v3/Makefile
  vendor/github.com/Masterminds/semver/v3/README.md
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/Masterminds/semver/v3/version.go
  vendor/modules.txt
Labels: area/dependencies

#3322 do not assume input is a compose file on .env parsing error
  bake/compose.go
Labels: area/bake, area/bake/compose

#3324 driver/kubernetes: remove uses of pkg/homedir
  driver/kubernetes/context/load.go
  vendor/github.com/docker/docker/pkg/homedir/homedir.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_linux.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  vendor/modules.txt
Labels: area/driver/kubernetes, area/driver, area/dependencies

#3323 [v0.26] cherry-picks for v0.26.0
  bake/compose.go
Labels: area/bake, area/bake/compose

#3331 [v0.26] cherry-picks for v0.26.1
  bake/compose.go
  bake/compose_test.go
Labels: area/bake, area/bake/compose, area/tests

#3330 history: use built-in build-arg to override the build name
  commands/history/utils.go
  tests/history.go
Labels: area/cli, status/needs-docs-follow-up, area/tests, area/history

#3334 bump compose-go to v2.8.0
  bake/compose.go
  bake/compose_test.go
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/cli/options.go
  vendor/github.com/compose-spec/compose-go/v2/dotenv/env.go
  vendor/github.com/compose-spec/compose-go/v2/loader/loader.go
  vendor/github.com/compose-spec/compose-go/v2/loader/reset.go
  vendor/github.com/compose-spec/compose-go/v2/schema/compose-spec.json
  vendor/github.com/compose-spec/compose-go/v2/template/variables.go
  vendor/github.com/compose-spec/compose-go/v2/transform/canonical.go
  vendor/github.com/compose-spec/compose-go/v2/transform/defaults.go
  vendor/github.com/compose-spec/compose-go/v2/types/command.go
  vendor/github.com/compose-spec/compose-go/v2/types/derived.gen.go
  vendor/github.com/compose-spec/compose-go/v2/types/mapping.go
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/github.com/compose-spec/compose-go/v2/types/types.go
  vendor/go.yaml.in/yaml/v3/LICENSE
  vendor/go.yaml.in/yaml/v3/NOTICE
  vendor/go.yaml.in/yaml/v3/README.md
  vendor/go.yaml.in/yaml/v3/apic.go
  vendor/go.yaml.in/yaml/v3/decode.go
  vendor/go.yaml.in/yaml/v3/emitterc.go
  vendor/go.yaml.in/yaml/v3/encode.go
  vendor/go.yaml.in/yaml/v3/parserc.go
  vendor/go.yaml.in/yaml/v3/readerc.go
  vendor/go.yaml.in/yaml/v3/resolve.go
  vendor/go.yaml.in/yaml/v3/scannerc.go
  vendor/go.yaml.in/yaml/v3/sorter.go
  vendor/go.yaml.in/yaml/v3/writerc.go
  vendor/go.yaml.in/yaml/v3/yaml.go
  vendor/go.yaml.in/yaml/v3/yamlh.go
  vendor/go.yaml.in/yaml/v3/yamlprivateh.go
  vendor/modules.txt
Labels: area/bake, area/bake/compose, area/dependencies, area/tests

#3337 bump compose-go to v2.8.1
  go.mod
  go.sum
  vendor/github.com/compose-spec/compose-go/v2/types/project.go
  vendor/modules.txt
Labels: area/dependencies
